Repository woowacourse-teams/2022-gong-seek, pull requests merged in 2022-08, with the labels that each got.

#186 service test에서 @transactional 제거
  backend/src/test/java/com/woowacourse/gongseek/acceptance/ArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/ArticleControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/auth/application/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/comment/application/CommentServiceTest.java
Labels: 🔥 backend, 💫 feat

#187 게시물 검색 기능 구현
  backend/src/docs/asciidoc/article.adoc
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryCustom.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryImpl.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/ArticleController.java
  backend/src/main/resources/static/docs/article.html
  backend/src/main/resources/static/docs/comment.html
  backend/src/main/resources/static/docs/index.html
  backend/src/main/resources/static/docs/member.html
  backend/src/main/resources/static/docs/oauth.html
  backend/src/test/java/com/woowacourse/gongseek/acceptance/ArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/ArticleControllerTest.java
  backend/src/test/resources/application.yml
Labels: 🔥 backend, 💫 feat

#189 alert -> snackbar 로 보여주기
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/common/ArticleContent/hooks/useDeleteArticleContent.tsx
  frontend/src/components/common/CommentInputModal/hooks/usePostCommentInputModal.tsx
  frontend/src/components/common/CommentInputModal/hooks/usePutCommentInputModal.tsx
  frontend/src/components/common/SnackBar/SnackBar.stories.tsx
  frontend/src/components/common/SnackBar/SnackBar.styles.tsx
  frontend/src/components/common/SnackBar/SnackBar.tsx
  frontend/src/components/router/PrivateRouter.tsx
  frontend/src/components/router/PublicRouter.tsx
  frontend/src/hooks/useIntersectionObserver.tsx
  frontend/src/hooks/useSnackBar.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/store/snackBarState.ts
  frontend/src/styles/Theme.ts
Labels: 🌈 frontend, 💫 feat, ♻️ refactor

#194 검색 기능 구현
  frontend/src/App.tsx
  frontend/src/api/article.ts
  frontend/src/api/search.ts
  frontend/src/components/common/InfiniteScrollObserver/InfiniteScrollObserver.tsx
  frontend/src/components/common/SearchBar/SearchBar.styles.tsx
  frontend/src/components/common/SearchBar/SearchBar.tsx
  frontend/src/components/layout/Header/Header.styles.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/pages/Search/SearchResult/SearchResult.stories.tsx
  frontend/src/pages/Search/SearchResult/SearchResult.styles.tsx
  frontend/src/pages/Search/SearchResult/SearchResult.tsx
  frontend/src/pages/Search/hooks/useGetSearch.tsx
  frontend/src/pages/Search/index.styles.tsx
  frontend/src/pages/Search/index.tsx
  frontend/src/store/searchState.ts
  frontend/src/types/articleResponse.ts
  frontend/src/types/searchResponse.ts
  frontend/src/utils/validateInput.ts
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#199 마이페이지를 구현한다
  frontend/.prettierrc
  frontend/src/App.tsx
  frontend/src/api/myPage.ts
  frontend/src/components/layout/TabBar/TabBar.tsx
  frontend/src/pages/MyPage/UserArticleItem/UserArticleItem.stories.tsx
  frontend/src/pages/MyPage/UserArticleItem/UserArticleItem.styles.tsx
  frontend/src/pages/MyPage/UserArticleItem/UserArticleItem.tsx
  frontend/src/pages/MyPage/UserCommentBox/UserCommentBox.stories.tsx
  frontend/src/pages/MyPage/UserCommentBox/UserCommentBox.styles.tsx
  frontend/src/pages/MyPage/UserCommentBox/UserCommentBox.tsx
  frontend/src/pages/MyPage/UserItemBox/UserItemBox.stories.tsx
  frontend/src/pages/MyPage/UserItemBox/UserItemBox.styles.tsx
  frontend/src/pages/MyPage/UserItemBox/UserItemBox.tsx
  frontend/src/pages/MyPage/UserProfile/UserProfile.stories.tsx
  frontend/src/pages/MyPage/UserProfile/UserProfile.styles.tsx
  frontend/src/pages/MyPage/UserProfile/UserProfile.tsx
  frontend/src/pages/MyPage/hooks/useGetUserArticles.tsx
  frontend/src/pages/MyPage/hooks/useGetUserComments.tsx
  frontend/src/pages/MyPage/hooks/useGetUserInfo.tsx
  frontend/src/pages/MyPage/index.styles.tsx
  frontend/src/pages/MyPage/index.tsx
  frontend/src/types/articleResponse.ts
  frontend/src/types/commentResponse.ts
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#201 투표 마감기한 등록하는 기능 구현
  frontend/src/App.tsx
  frontend/src/api/vote.ts
  frontend/src/hooks/useLocationState.tsx
  frontend/src/mock/vote.ts
  frontend/src/pages/VoteDeadlineGenerator/index.stories.tsx
  frontend/src/pages/VoteDeadlineGenerator/index.styles.tsx
  frontend/src/pages/VoteDeadlineGenerator/index.tsx
  frontend/src/pages/VoteGenerator/AddedOption/AddedOption.tsx
  frontend/src/pages/VoteGenerator/index.styles.tsx
  frontend/src/pages/VoteGenerator/index.tsx
Labels: 🌈 frontend, 💫 feat

#206 무한스크롤 작동 수정
  frontend/src/api/article.ts
  frontend/src/pages/Home/hooks/useGetAllArticles.tsx
  frontend/src/types/articleResponse.ts
Labels: 🐛 bug, 🌈 frontend

#204 시간 변환하는 함수 구현
  frontend/src/components/common/ArticleContent/ArticleContent.tsx
  frontend/src/components/common/ArticleItem/ArticleItem.tsx
  frontend/src/components/common/Comment/Comment.tsx
  frontend/src/index.tsx
  frontend/src/pages/MyPage/UserArticleItem/UserArticleItem.tsx
  frontend/src/pages/MyPage/UserCommentBox/UserCommentBox.tsx
  frontend/src/utils/converter.ts
Labels: 🌈 frontend, 💫 feat

#210 커스텀 훅에 대한 test 코드들을 작성한다
  frontend/jest.config.js
  frontend/package.json
  frontend/src/components/common/CommentInputModal/hooks/__test__/usePostCommentInputModal.test.tsx
  frontend/src/components/common/CommentInputModal/hooks/usePostCommentInputModal.tsx
  frontend/src/hooks/__test__/useGetDetailArticlesInfo.test.tsx
  frontend/src/mock/article.ts
  frontend/src/mock/comment.ts
  frontend/src/mock/data/articles.json
  frontend/src/mock/data/comment.json
  frontend/src/mock/index.ts
  frontend/src/mock/myPage.ts
  frontend/src/mock/search.ts
  frontend/src/pages/CategoryArticles/CategoryArticles.tsx
  frontend/src/pages/CategoryArticles/hooks/__test__/useGetCategoryArticles.test.tsx
  frontend/src/pages/CategoryArticles/hooks/useGetCategoryArticles.tsx
  frontend/src/pages/Home/hooks/__test__/useGetPopularArticles.test.tsx
  frontend/src/pages/Home/hooks/useGetPopularArticles.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/pages/MyPage/hooks/__test__/myPage.test.tsx
  frontend/src/pages/Search/hooks/__test__/useGetSearch.test.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: 🌈 frontend, ✅ test

#212 테스트 코드 환경 설정 수정
  frontend/.babelrc
  frontend/jest.config.js
  frontend/package.json
Labels: 🐛 bug, 🌈 frontend, ✅ test

#214 GetPopularArticles.test.tsx 의 테스트 실패 수정
  frontend/src/pages/Home/hooks/__test__/useGetPopularArticles.test.tsx
Labels: 🐛 bug, 🌈 frontend, ✅ test

#217 ThemeProvider 에러 수정
  frontend/src/components/common/CommentInputModal/hooks/__test__/usePostCommentInputModal.test.tsx
  frontend/src/hooks/__test__/useGetDetailArticlesInfo.test.tsx
  frontend/src/pages/CategoryArticles/hooks/__test__/useGetCategoryArticles.test.tsx
  frontend/src/pages/Home/hooks/__test__/useGetPopularArticles.test.tsx
  frontend/src/pages/MyPage/hooks/__test__/myPage.test.tsx
  frontend/src/pages/Search/hooks/__test__/useGetSearch.test.tsx
  frontend/yarn.lock
Labels: 🌈 frontend, ✅ test, 💫 feat

#229 Content에서 마크다운 특수문자 보이는 문제 해결
  frontend/jest.setup.js
  frontend/src/components/common/ArticleItem/ArticleItem.tsx
  frontend/src/utils/converter.ts
Labels: 🌈 frontend, 💫 feat

#219 에러 -> 질문으로 변경하기
  frontend/jest.setup.js
  frontend/src/components/common/ArticleContent/ArticleContent.stories.tsx
  frontend/src/components/common/ArticleContent/ArticleContent.tsx
  frontend/src/components/common/MenuSlider/MenuSlider.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/pages/CategoryArticles/CategoryArticles.tsx
  frontend/src/pages/CategorySelector/CategorySelector.tsx
  frontend/src/pages/Detail/index.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/pages/UpdateWriting/index.tsx
  frontend/src/pages/WritingArticles/index.tsx
Labels: 🌈 frontend, 💫 feat

#232 CI툴에 맞도록 테스트 수정
  frontend/jest.setup.js
Labels: 🐛 bug, 🌈 frontend, ✅ test

#234 getPopularArticles 수정
  frontend/src/pages/Home/hooks/__test__/useGetPopularArticles.test.tsx
Labels: 🐛 bug, 🌈 frontend, ✅ test

#208 accessToken 만료될시 로그아웃 되는 기능 추가
  frontend/src/App.tsx
  frontend/src/components/common/ArticleContent/hooks/useDeleteArticleContent.tsx
  frontend/src/components/common/Comment/hooks/useDeleteComment.tsx
  frontend/src/components/common/CommentInputModal/hooks/usePostCommentInputModal.tsx
  frontend/src/components/common/CommentInputModal/hooks/usePutCommentInputModal.tsx
  frontend/src/components/common/MenuSlider/MenuSlider.tsx
  frontend/src/components/helper/CustomError.tsx
  frontend/src/components/helper/ErrorBoundary.tsx
  frontend/src/components/helper/PrivateRouter.tsx
  frontend/src/components/helper/PublicRouter.tsx
  frontend/src/hooks/useGetDetailArticle.tsx
  frontend/src/hooks/useGetDetailComment.tsx
  frontend/src/pages/Discussion/hooks/useGetVote.tsx
  frontend/src/pages/Discussion/hooks/usePostVoteItem.tsx
  frontend/src/pages/Home/hooks/useGetAllArticles.tsx
  frontend/src/pages/Home/hooks/useGetPopularArticles.tsx
  frontend/src/pages/Login/LoginController/LoginController.tsx
  frontend/src/pages/Login/hooks/useGetLoginURL.tsx
  frontend/src/pages/MyPage/hooks/useGetUserArticles.tsx
  frontend/src/pages/MyPage/hooks/useGetUserComments.tsx
  frontend/src/pages/MyPage/hooks/useGetUserInfo.tsx
  frontend/src/pages/Search/hooks/useGetSearch.tsx
  frontend/src/pages/UpdateWriting/hooks/usePostUpdateWritingArticle.tsx
  frontend/src/pages/VoteDeadlineGenerator/index.tsx
  frontend/src/pages/WritingArticles/hooks/usePostWritingArticles.tsx
Labels: 🌈 frontend, 💫 feat

#223 댓글 추가시 바로 fetch안되는 에러 수정
  frontend/src/components/common/CommentInputModal/CommentInputModal.tsx
  frontend/src/components/common/CommentInputModal/hooks/usePutCommentInputModal.tsx
Labels: 🐛 bug, 🌈 frontend

#225 검색할때 enter해도 작동하도록 기능 추가
  frontend/src/components/common/SearchBar/SearchBar.styles.tsx
  frontend/src/components/common/SearchBar/SearchBar.tsx
  frontend/src/pages/Search/index.tsx
Labels: 🌈 frontend, 💫 feat

#236 github action CI 설정
  .github/workflows/main.yml
Labels: ⚙️ chore

#238 익명 기능 추가
  frontend/src/api/comments.ts
  frontend/src/components/common/AnonymousCheckBox/AnonymousCheckBox.styles.tsx
  frontend/src/components/common/AnonymousCheckBox/AnonymouseCheckBox.tsx
  frontend/src/components/common/CommentInputModal/CommentInputModal.styles.tsx
  frontend/src/components/common/CommentInputModal/CommentInputModal.tsx
  frontend/src/components/common/CommentInputModal/hooks/__test__/usePostCommentInputModal.test.tsx
  frontend/src/components/common/CommentInputModal/hooks/usePostCommentInputModal.tsx
  frontend/src/pages/WritingArticles/hooks/usePostWritingArticles.tsx
  frontend/src/pages/WritingArticles/index.styles.tsx
  frontend/src/pages/WritingArticles/index.tsx
Labels: 🌈 frontend, 💫 feat

#240 깨진 UI 수정
  frontend/src/components/layout/TabBar/TabBar.styles.tsx
  frontend/src/pages/CategorySelector/CategorySelector.styles.tsx
  frontend/src/pages/Login/index.styles.tsx
  frontend/src/pages/MyPage/index.styles.tsx
  frontend/src/pages/Search/SearchResult/SearchResult.styles.tsx
  frontend/src/pages/Search/index.styles.tsx
  frontend/src/pages/VoteDeadlineGenerator/index.styles.tsx
  frontend/src/pages/VoteGenerator/index.styles.tsx
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#243 반응형 UI 구현
  frontend/src/components/common/ArticleItem/ArticleItem.styles.tsx
  frontend/src/pages/CategoryArticles/CategoryArticles.styles.tsx
  frontend/src/pages/CategorySelector/CategorySelector.styles.tsx
  frontend/src/pages/Home/index.styles.tsx
  frontend/src/pages/Search/SearchResult/SearchResult.styles.tsx
  frontend/src/pages/Search/index.styles.tsx
  frontend/src/styles/Theme.ts
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#245 2글자 이하로 검색하면 경고창 보여주기
  frontend/src/components/common/SearchBar/SearchBar.tsx
Labels: 🐛 bug, 🌈 frontend, 🎨 UI, ♻️ refactor

#256 커스텀 예외 메시지 처리
  frontend/src/components/common/ArticleContent/hooks/useDeleteArticleContent.tsx
  frontend/src/components/common/Comment/hooks/useDeleteComment.tsx
  frontend/src/components/common/CommentInputModal/hooks/usePostCommentInputModal.tsx
  frontend/src/components/common/CommentInputModal/hooks/usePutCommentInputModal.tsx
  frontend/src/components/helper/CustomError.tsx
  frontend/src/constants/ErrorMessage.ts
  frontend/src/hooks/useGetDetailArticle.tsx
  frontend/src/hooks/useGetDetailComment.tsx
  frontend/src/pages/CategoryArticles/hooks/useGetCategoryArticles.tsx
  frontend/src/pages/Discussion/hooks/useGetVote.tsx
  frontend/src/pages/Discussion/hooks/usePostVoteItem.tsx
  frontend/src/pages/Home/hooks/useGetAllArticles.tsx
  frontend/src/pages/Home/hooks/useGetPopularArticles.tsx
  frontend/src/pages/Login/hooks/useGetLoginURL.tsx
  frontend/src/pages/MyPage/hooks/useGetUserArticles.tsx
  frontend/src/pages/MyPage/hooks/useGetUserComments.tsx
  frontend/src/pages/MyPage/hooks/useGetUserInfo.tsx
  frontend/src/pages/Search/hooks/useGetSearch.tsx
  frontend/src/pages/UpdateWriting/hooks/usePostUpdateWritingArticle.tsx
  frontend/src/pages/VoteDeadlineGenerator/index.tsx
  frontend/src/pages/WritingArticles/hooks/usePostWritingArticles.tsx
Labels: 🌈 frontend, 💫 feat

#263 로그인 하지 않았을 때에 댓글을 작성하지 못하도록 한다.
  frontend/src/pages/Detail/index.styles.tsx
  frontend/src/pages/Detail/index.tsx
Labels: 🐛 bug, 🌈 frontend, 🎨 UI

#265 모든 get 요청에 Authorization header 달아서 요청을 보내야한다.
  frontend/src/api/article.ts
  frontend/src/api/search.ts
Labels: 🌈 frontend, 💫 feat

#247 데스크탑 화면에서의 대응
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/pages/CategoryArticles/CategoryArticles.styles.tsx
  frontend/src/pages/Home/ArticleItem/ArticleItem.styles.tsx
  frontend/src/pages/Home/ArticleItem/ArticleItem.tsx
  frontend/src/pages/Home/PopularArticle/PopularArticle.styles.tsx
  frontend/src/pages/Home/PopularArticle/PopularArticle.tsx
  frontend/src/pages/Home/hooks/useGetPopularArticles.tsx
  frontend/src/pages/Home/index.styles.tsx
  frontend/src/pages/Search/SearchResult/SearchResult.styles.tsx
  frontend/src/styles/Theme.ts
Labels: 🐛 bug, 🌈 frontend, 🎨 UI, ♻️ refactor

#249 비회원일 때 인터셉터 거치지 않도록 수정
  backend/src/main/java/com/woowacourse/gongseek/auth/presentation/AuthenticationInterceptor.java
  backend/src/main/java/com/woowacourse/gongseek/auth/presentation/AuthorizationInterceptor.java
  backend/src/main/java/com/woowacourse/gongseek/config/AuthenticationConfig.java
  backend/src/main/resources/static/docs/article.html
  backend/src/main/resources/static/docs/comment.html
  backend/src/main/resources/static/docs/index.html
  backend/src/main/resources/static/docs/member.html
  backend/src/main/resources/static/docs/oauth.html
  backend/src/main/resources/static/docs/vote.html
  backend/src/test/java/com/woowacourse/gongseek/acceptance/ArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/CommentAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/ArticleFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/CommentFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/ArticleControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/comment/presentation/CommentControllerTest.java
Labels: 🔥 backend, ♻️ refactor

#250 마이페이지 익명 게시글, 댓글 조회 기능
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/Content.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepository.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/ArticleController.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/ArticleResponse.java
  backend/src/main/java/com/woowacourse/gongseek/comment/domain/repository/CommentRepository.java
  backend/src/main/java/com/woowacourse/gongseek/comment/presentation/dto/CommentResponse.java
  backend/src/main/java/com/woowacourse/gongseek/member/application/MemberService.java
  backend/src/main/java/com/woowacourse/gongseek/member/presentation/dto/MyPageCommentResponse.java
  backend/src/main/java/com/woowacourse/gongseek/vote/domain/Vote.java
  backend/src/main/resources/static/docs/article.html
  backend/src/main/resources/static/docs/comment.html
  backend/src/main/resources/static/docs/index.html
  backend/src/main/resources/static/docs/member.html
  backend/src/main/resources/static/docs/oauth.html
  backend/src/test/java/com/woowacourse/gongseek/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/MemberFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/comment/domain/repository/CommentRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/member/application/IdentifierEncryptorTest.java
  backend/src/test/java/com/woowacourse/gongseek/member/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/member/presentation/MemberControllerTest.java
Labels: 🔥 backend, 💫 feat

#268 게시물 조회시에 게시물의 개수가 0개일때 에러가 나오는것 수정
  frontend/src/pages/CategoryArticles/CategoryArticles.styles.tsx
  frontend/src/pages/CategoryArticles/CategoryArticles.tsx
  frontend/src/pages/Home/PopularArticle/PopularArticle.styles.tsx
  frontend/src/pages/Home/PopularArticle/PopularArticle.tsx
  frontend/src/pages/Home/index.styles.tsx
  frontend/src/pages/Home/index.tsx
Labels: 🌈 frontend, 💫 feat

#272 변경된 투표 api 명세에 따라 코드 수정
  frontend/src/api/vote.ts
  frontend/src/mock/index.ts
  frontend/src/mock/vote.ts
  frontend/src/pages/Discussion/Vote/Vote.tsx
  frontend/src/pages/Discussion/VoteItem/VoteItem.tsx
  frontend/src/pages/Discussion/hooks/useGetVote.tsx
  frontend/src/pages/Discussion/hooks/usePostVoteItem.tsx
  frontend/src/pages/VoteDeadlineGenerator/index.tsx
  frontend/src/pages/VoteGenerator/index.tsx
Labels: 🌈 frontend, 💫 feat

#275 마이페이지에서 보여지는 댓글에 링크를 연결한다
  frontend/src/pages/MyPage/UserCommentBox/UserCommentBox.tsx
  frontend/src/pages/MyPage/UserItemBox/UserItemBox.styles.tsx
  frontend/src/pages/MyPage/UserItemBox/UserItemBox.tsx
  frontend/src/types/commentResponse.ts
Labels: 🌈 frontend, 💫 feat

#282 favicon을 설정한다.
  frontend/public/favicon-32x32.png
  frontend/webpack/webpack.common.js
Labels: 🌈 frontend, 💫 feat

#276 문의하기 페이지를 구현한다.
  frontend/src/App.tsx
  frontend/src/components/common/MenuSlider/MenuSlider.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/pages/Inquire/index.styles.tsx
  frontend/src/pages/Inquire/index.tsx
Labels: 🌈 frontend, 💫 feat

#290 로그 설정 파일을 읽지 못하는 버그 해결
  backend/src/main/java/com/woowacourse/gongseek/GongseekApplication.java
  backend/src/main/resources/logback-spring.xml
Labels: 🐛 bug, 🔥 backend

#295 인터셉터 docs 안거치도록 수정
  backend/src/main/java/com/woowacourse/gongseek/config/AuthenticationConfig.java
Labels: 🐛 bug, 🔥 backend

#297 좋아요를 통한 정렬기능 구현
  frontend/src/api/article.ts
  frontend/src/pages/CategoryArticles/SortDropdown/SortDropDown.tsx
  frontend/src/utils/converter.ts
Labels: 🌈 frontend, 💫 feat

#301 sonarqube 적용
  .github/workflows/sonarqube.yml
  backend/build.gradle
  backend/src/main/resources/static/docs/article.html
  backend/src/main/resources/static/docs/comment.html
  backend/src/main/resources/static/docs/index.html
  backend/src/main/resources/static/docs/member.html
  backend/src/main/resources/static/docs/oauth.html
  backend/src/main/resources/static/docs/vote.html
Labels: 🔥 backend, ⚙️ chore

#314 Like인수 테스트 깨짐 수정
  backend/src/test/java/com/woowacourse/gongseek/acceptance/LikeAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/LikeFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/like/presentation/LikeControllerTest.java
Labels: 🐛 bug, 🔥 backend

#316 운영 서버 restdocs 업데이트 안되는 에러 해결
  backend/.gitignore
  backend/build.gradle
  backend/src/docs/asciidoc/like.adoc
Labels: 🐛 bug, 🔥 backend

#284 해시태그 기능 구현
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/articletag/ArticleTag.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleTagRepository.java
  backend/src/main/java/com/woowacourse/gongseek/article/exception/DuplicateTagException.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/ArticlePreviewResponse.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/ArticleRequest.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/ArticleResponse.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/ArticleUpdateRequest.java
  backend/src/main/java/com/woowacourse/gongseek/common/exception/ExceptionType.java
  backend/src/main/java/com/woowacourse/gongseek/tag/domain/Name.java
  backend/src/main/java/com/woowacourse/gongseek/tag/domain/Tag.java
  backend/src/main/java/com/woowacourse/gongseek/tag/domain/Tags.java
  backend/src/main/java/com/woowacourse/gongseek/tag/domain/repository/TagRepository.java
  backend/src/main/java/com/woowacourse/gongseek/tag/exception/ExceededTagsException.java
  backend/src/main/java/com/woowacourse/gongseek/tag/exception/TagNameLengthException.java
  backend/src/main/java/com/woowacourse/gongseek/tag/exception/TagNameNullOrBlankException.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/ArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/LikeAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/ArticleFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/LikeFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/ArticleTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/ArticleTagRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/ArticleControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/member/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/tag/domain/NameTest.java
  backend/src/test/java/com/woowacourse/gongseek/tag/domain/TagTest.java
  backend/src/test/java/com/woowacourse/gongseek/tag/domain/TagsTest.java
  backend/src/test/java/com/woowacourse/gongseek/tag/domain/repository/TagRepositoryTest.java
Labels: 🔥 backend, 💫 feat

#262 해시태그 기능 구현
  frontend/src/api/article.ts
  frontend/src/components/common/ArticleContent/ArticleContent.styles.tsx
  frontend/src/components/common/ArticleContent/ArticleContent.tsx
  frontend/src/components/common/ArticleItem/ArticleItem.stories.tsx
  frontend/src/components/common/ArticleItem/ArticleItem.styles.tsx
  frontend/src/components/common/ArticleItem/ArticleItem.tsx
  frontend/src/components/common/HashTag/HashTag.styles.tsx
  frontend/src/components/common/HashTag/HashTag.tsx
  frontend/src/components/common/HashTag/HastTag.stories.tsx
  frontend/src/components/layout/PageLayout/PageLayout.tsx
  frontend/src/hooks/useGetDetailArticle.tsx
  frontend/src/pages/UpdateWriting/hooks/usePostUpdateWritingArticle.tsx
  frontend/src/pages/UpdateWriting/index.tsx
  frontend/src/pages/WritingArticles/hooks/usePostWritingArticles.tsx
  frontend/src/pages/WritingArticles/index.tsx
  frontend/src/store/articleState.ts
  frontend/src/styles/Theme.ts
  frontend/src/types/articleResponse.ts
  frontend/src/types/emotion.d.ts
  frontend/src/utils/validateInput.ts
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#277 검색의 무한스크롤 기능 수정
  frontend/src/api/search.ts
  frontend/src/pages/Search/hooks/useGetSearch.tsx
  frontend/src/types/searchResponse.ts
Labels: 🐛 bug, 🌈 frontend

#323 해시태그 관련 에러를 수정한다
  frontend/src/components/common/ArticleItem/ArticleItem.tsx
Labels: 🐛 bug, 🌈 frontend

#319 스토리북 에러를 해결한다.
  frontend/src/components/common/ArticleContent/ArticleContent.stories.tsx
  frontend/src/components/common/ArticleItem/ArticleItem.stories.tsx
  frontend/src/components/common/ArticleItem/ArticleItem.tsx
  frontend/src/components/common/Comment/Comment.stories.tsx
  frontend/src/components/common/Comment/Comment.tsx
  frontend/src/components/common/CommentInputModal/CommentInputModa.stories.tsx
  frontend/src/components/layout/Header/Header.stories.tsx
  frontend/src/components/layout/PageLayout/PageLayout.stories.tsx
  frontend/src/pages/CategoryArticles/SortDropdown/SortDropDown.tsx
  frontend/src/pages/CategoryArticles/SortDropdown/SortDropdown.stories.tsx
  frontend/src/pages/CategoryArticles/SortDropdown/SortDropdown.styles.tsx
Labels: 🐛 bug, 🌈 frontend

#329 쿠키의 sameSite레벨을 수정한다
  backend/src/main/java/com/woowacourse/gongseek/auth/utils/CookieUtils.java
Labels: 🐛 bug, 🔥 backend

#333 게시글 content 의 길이 제한을 없앤다
  backend/src/main/java/com/woowacourse/gongseek/article/domain/Content.java
  backend/src/main/java/com/woowacourse/gongseek/article/exception/ArticleContentNullException.java
  backend/src/main/java/com/woowacourse/gongseek/article/exception/ArticleContentTooLongException.java
  backend/src/main/java/com/woowacourse/gongseek/common/exception/ExceptionType.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/ContentTest.java
Labels: 🔥 backend, ♻️ refactor

#318 회원 정보 수정하기 기능 구현
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/com/woowacourse/gongseek/member/application/MemberService.java
  backend/src/main/java/com/woowacourse/gongseek/member/domain/Member.java
  backend/src/main/java/com/woowacourse/gongseek/member/presentation/MemberController.java
  backend/src/main/java/com/woowacourse/gongseek/member/presentation/dto/MemberUpdateRequest.java
  backend/src/main/java/com/woowacourse/gongseek/member/presentation/dto/MemberUpdateResponse.java
  backend/src/main/resources/logback-spring.xml
  backend/src/test/java/com/woowacourse/gongseek/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/MemberFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/member/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/member/domain/MemberTest.java
  backend/src/test/java/com/woowacourse/gongseek/member/presentation/MemberControllerTest.java
Labels: 🔥 backend, 💫 feat

#339 log 파일 경로 수정
  backend/src/main/resources/logback-spring.xml
Labels: 🐛 bug, 🔥 backend

#330 로그인 관련 에러를 수정한다
  frontend/src/api/login.ts
  frontend/src/components/helper/ErrorBoundary.tsx
  frontend/src/pages/Login/RefreshTokenHandler/RefreshTokenHandler.tsx
Labels: 🐛 bug, 🌈 frontend

#334 토론 게시판에서 투표를 만들지 않은 게시물에서 무한 로딩이 발생하는 에러 해결
  frontend/src/pages/Discussion/Vote/Vote.tsx
  frontend/src/pages/Discussion/hooks/useGetVote.tsx
Labels: 🐛 bug, 🌈 frontend

#303 변경된 좋아요 api 명세에 맞춰서 코드 수정
  frontend/src/components/common/ArticleContent/ArticleContent.tsx
  frontend/src/components/common/ArticleItem/ArticleItem.tsx
  frontend/src/hooks/useHeartClick.tsx
Labels: 🌈 frontend, 💫 feat

#309 마이페이지에 대하여 데스크탑 반응형을 구현한다.
  frontend/src/pages/MyPage/UserItemBox/UserItemBox.styles.tsx
  frontend/src/pages/MyPage/index.styles.tsx
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#294 글 작성시 유효성 검사
  frontend/src/pages/WritingArticles/hooks/usePostWritingArticles.tsx
  frontend/src/pages/WritingArticles/index.styles.tsx
  frontend/src/pages/WritingArticles/index.tsx
  frontend/src/utils/validateInput.ts
Labels: 🌈 frontend, 💫 feat

#355 삭제된 HashTag 관련 코드들을 복구
  frontend/src/components/common/HashTag/HashTag.tsx
  frontend/src/pages/WritingArticles/hooks/usePostWritingArticles.tsx
  frontend/src/utils/validateInput.ts
Labels: 🐛 bug, 🌈 frontend

#349 좋아요를 누를때 조회수가 올라가는 문제해결 + 좋아요 클릭된 UI가 보이지 않는것 수정
  frontend/src/api/like.ts
  frontend/src/components/common/ArticleItem/ArticleItem.tsx
  frontend/src/hooks/useHeartClick.tsx
Labels: 🐛 bug, 🌈 frontend

#336 투표를 한 경우 사용자가 어디를 투표했는지 알수있는 기능 추가
  frontend/src/pages/Discussion/Vote/Vote.tsx
  frontend/src/pages/Discussion/VoteItem/VoteItem.styles.tsx
  frontend/src/pages/Discussion/VoteItem/VoteItem.tsx
Labels: 🌈 frontend, 💫 feat

#300 토큰 만료 메시지 변경 및 alert 시간 조정
  frontend/src/components/helper/ErrorBoundary.tsx
  frontend/src/hooks/useGetDetailArticle.tsx
  frontend/src/hooks/useGetDetailComment.tsx
  frontend/src/pages/CategoryArticles/hooks/useGetCategoryArticles.tsx
  frontend/src/pages/Home/hooks/useGetAllArticles.tsx
  frontend/src/pages/Home/hooks/useGetPopularArticles.tsx
  frontend/src/pages/Login/hooks/useGetLoginURL.tsx
  frontend/src/pages/MyPage/hooks/useGetUserArticles.tsx
  frontend/src/pages/MyPage/hooks/useGetUserComments.tsx
  frontend/src/pages/MyPage/hooks/useGetUserInfo.tsx
Labels: 🌈 frontend, 💫 feat

#307 모달 수직 중앙 정렬을 해야한다.
  frontend/src/App.tsx
  frontend/src/pages/CategorySelector/CategorySelector.styles.tsx
  frontend/src/pages/Inquire/index.styles.tsx
  frontend/src/pages/Login/index.styles.tsx
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#343 build파일에 docs 파일들 옮기도록 수정
  backend/.gitignore
  backend/build.gradle
Labels: 🐛 bug, 🔥 backend, ⚙️ chore

#359 글쓰기에서 깨진 ui 수정
  frontend/src/App.tsx
Labels: 🐛 bug, 🌈 frontend

#338 모든 해시태그 조회 기능 구현
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/tag.adoc
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/Article.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/articletag/ArticleTags.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepository.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleTagRepository.java
  backend/src/main/java/com/woowacourse/gongseek/common/exception/ExceptionType.java
  backend/src/main/java/com/woowacourse/gongseek/tag/application/TagService.java
  backend/src/main/java/com/woowacourse/gongseek/tag/domain/Name.java
  backend/src/main/java/com/woowacourse/gongseek/tag/domain/Tags.java
  backend/src/main/java/com/woowacourse/gongseek/tag/domain/repository/TagRepository.java
  backend/src/main/java/com/woowacourse/gongseek/tag/exception/ExceededTagSizeException.java
  backend/src/main/java/com/woowacourse/gongseek/tag/exception/TagNameLengthException.java
  backend/src/main/java/com/woowacourse/gongseek/tag/presentation/TagController.java
  backend/src/main/java/com/woowacourse/gongseek/tag/presentation/dto/TagsResponse.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/TagAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/TagFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/ContentTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/ArticleTagRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/tag/application/TagServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/tag/domain/NameTest.java
  backend/src/test/java/com/woowacourse/gongseek/tag/domain/TagsTest.java
  backend/src/test/java/com/woowacourse/gongseek/tag/domain/repository/TagRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/tag/presentation/TagControllerTest.java
Labels: 🔥 backend, 💫 feat, ♻️ refactor

#371 마이페이지 이름 수정할 때, 글자수 제한 추가
  backend/src/main/java/com/woowacourse/gongseek/common/exception/ExceptionType.java
  backend/src/main/java/com/woowacourse/gongseek/member/domain/Member.java
  backend/src/main/java/com/woowacourse/gongseek/member/domain/Name.java
  backend/src/main/java/com/woowacourse/gongseek/member/exception/NameNullOrEmptyException.java
  backend/src/main/java/com/woowacourse/gongseek/member/presentation/MemberController.java
  backend/src/main/java/com/woowacourse/gongseek/member/presentation/dto/MemberDto.java
  backend/src/main/java/com/woowacourse/gongseek/member/presentation/dto/MemberUpdateRequest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/member/domain/NameTest.java
Labels: 🔥 backend, ♻️ refactor

#375 로그 설정 수정
  backend/build.gradle
  backend/src/main/java/com/woowacourse/gongseek/config/WebConfig.java
  backend/src/main/resources/application-test.yml
  backend/src/main/resources/logback-access.xml
  backend/src/main/resources/logback-spring.xml
  backend/src/main/resources/logging/console-appender.xml
  backend/src/main/resources/logging/file-access-appender.xml
  backend/src/test/resources/application-encryption.yml
  backend/src/test/resources/application-jwt.yml
  backend/src/test/resources/application-oauth.yml
  backend/src/test/resources/application.yml
Labels: 📝 docs, 🔥 backend, ♻️ refactor

#351 검색하기에서 특수문자처리와 캐싱 처리를 한다
  frontend/src/api/search.ts
  frontend/src/pages/Search/hooks/useGetSearch.tsx
  frontend/src/utils/validateInput.ts
Labels: 🐛 bug, 🌈 frontend, ♻️ refactor

#292 마이페이지에 이름 수정 기능을 구현한다.
  frontend/src/api/myPage.ts
  frontend/src/mock/myPage.ts
  frontend/src/pages/MyPage/UserProfile/UserProfile.styles.tsx
  frontend/src/pages/MyPage/UserProfile/UserProfile.tsx
  frontend/src/pages/MyPage/UserProfile/hooks/usePutUserProfile.tsx
Labels: 🌈 frontend, 💫 feat

#363 게시글, 댓글 수정하기 할 때에 익명 버튼 없애기
  frontend/src/components/common/CommentInputModal/CommentInputModal.styles.tsx
  frontend/src/components/common/CommentInputModal/CommentInputModal.tsx
  frontend/src/pages/UpdateWriting/index.tsx
  frontend/src/pages/WritingArticles/index.styles.tsx
Labels: 🐛 bug, 🌈 frontend

#365 인기 게시글에 조회수와 좋아요 정보를 보여준다
  frontend/src/components/common/ArticleItem/ArticleItem.styles.tsx
  frontend/src/components/common/ArticleItem/ArticleItem.tsx
  frontend/src/pages/Home/ArticleItem/ArticleItem.styles.tsx
  frontend/src/pages/Home/ArticleItem/ArticleItem.tsx
Labels: 🐛 bug, 🌈 frontend, 🎨 UI

#367 없는 게시글을 url을 통해 조회할 때에 대하여 대응한다
  frontend/src/components/helper/ErrorBoundary.tsx
Labels: 🐛 bug, 🌈 frontend, 💫 feat

#369 댓글을 수정할 때에 원본 글과 함께 수정할 수 있도록 한다
  frontend/src/components/common/CommentInputModal/CommentInputModal.tsx
Labels: 🐛 bug, 🌈 frontend, 🎨 UI, 💫 feat

#372 메뉴슬라이더를 외부 창을 클릭해도 사라지게 한다
  frontend/src/App.tsx
  frontend/src/components/common/MenuSlider/MenuSlider.styles.tsx
  frontend/src/components/common/MenuSlider/MenuSlider.tsx
  frontend/src/components/layout/TabBar/TabBar.tsx
  frontend/src/store/menuSliderState.ts
Labels: 🌈 frontend, 💫 feat, ♻️ refactor

#325 유저 이름 검색 기능
  backend/.gitignore
  backend/build.gradle
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepository.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryCustom.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryImpl.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/ArticleController.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/ArticlePageResponse.java
  backend/src/main/java/com/woowacourse/gongseek/member/domain/Member.java
  backend/src/main/java/com/woowacourse/gongseek/member/domain/Name.java
  backend/src/main/resources/logging/file-debug-appender.xml
  backend/src/main/resources/logging/file-error-appender.xml
  backend/src/main/resources/logging/file-warn-appender.xml
  backend/src/test/java/com/woowacourse/gongseek/acceptance/ArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/ArticleFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/ArticleControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/comment/application/CommentServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/member/domain/NameTest.java
Labels: 🔥 backend, 💫 feat

#385 마이페이지 들어갈때 에러뜨는것 해결
  frontend/src/pages/MyPage/UserProfile/UserProfile.styles.tsx
  frontend/src/pages/MyPage/UserProfile/UserProfile.tsx
  frontend/src/utils/validateInput.ts
Labels: 🐛 bug, 🌈 frontend

#387 투표가 존재하지 않을때 404에러 뜨는거 해결
  frontend/src/pages/Discussion/Vote/Vote.tsx
  frontend/src/pages/Discussion/hooks/useGetVote.tsx
  frontend/src/pages/DiscussionDetail/index.tsx
  frontend/src/types/articleResponse.ts
Labels: 🐛 bug, 🌈 frontend

#396 투표 생성 익명 예외 처리
  backend/src/main/java/com/woowacourse/gongseek/vote/application/VoteService.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/CommentAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/LikeAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/VoteAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/ArticleFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/VoteFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/vote/application/VoteServiceTest.java
Labels: 🔥 backend, 💫 feat

#380 글을 수정할 때에 유효성 평가를 추가한다
  frontend/src/pages/UpdateWriting/hooks/usePostUpdateWritingArticle.tsx
  frontend/src/pages/UpdateWriting/index.tsx
  frontend/src/pages/WritingArticles/hooks/usePostWritingArticles.tsx
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#382 데스크탑에서의 nav의 순서를 조정한다
  frontend/src/components/layout/Header/Header.tsx
Labels: 🌈 frontend, 🎨 UI, ♻️ refactor

#389 전체게시물에서 좋아요를 누를시 게시글이 들어가지는 문제 해결
  frontend/src/hooks/useHeartClick.tsx
Labels: 🐛 bug, 🌈 frontend

#346 해시태그 생성시 제한 조건 추가 및 리프레시 토큰 에러 수정
  frontend/src/components/common/HashTag/HashTag.styles.tsx
  frontend/src/components/common/HashTag/HashTag.tsx
  frontend/src/components/helper/ErrorBoundary.tsx
  frontend/src/pages/Home/hooks/useGetAllArticles.tsx
  frontend/src/pages/Home/hooks/useGetPopularArticles.tsx
  frontend/src/pages/Login/RefreshTokenHandler/RefreshTokenHandler.tsx
Labels: 🌈 frontend, 💫 feat

#394 비동기 통신이 불필요하게 나가는 것을 방지한다
  frontend/src/components/common/ArticleContent/hooks/useDeleteArticleContent.tsx
  frontend/src/components/common/Comment/hooks/useDeleteComment.tsx
  frontend/src/components/common/CommentInputModal/hooks/usePostCommentInputModal.tsx
  frontend/src/components/common/CommentInputModal/hooks/usePutCommentInputModal.tsx
  frontend/src/hooks/useGetDetailArticle.tsx
  frontend/src/hooks/useGetDetailComment.tsx
  frontend/src/hooks/useHeartClick.tsx
  frontend/src/pages/CategoryArticles/hooks/useGetCategoryArticles.tsx
  frontend/src/pages/Discussion/hooks/useGetVote.tsx
  frontend/src/pages/Home/hooks/useGetAllArticles.tsx
  frontend/src/pages/Home/hooks/useGetPopularArticles.tsx
  frontend/src/pages/MyPage/UserProfile/hooks/usePutUserProfile.tsx
  frontend/src/pages/MyPage/hooks/useGetUserArticles.tsx
  frontend/src/pages/MyPage/hooks/useGetUserComments.tsx
  frontend/src/pages/MyPage/hooks/useGetUserInfo.tsx
  frontend/src/pages/Search/hooks/useGetSearch.tsx
  frontend/src/pages/UpdateWriting/hooks/usePostUpdateWritingArticle.tsx
  frontend/src/pages/WritingArticles/hooks/usePostWritingArticles.tsx
Labels: 🌈 frontend, 💫 feat, ♻️ refactor

#406 투표 생성하기 UI 개선
  frontend/src/pages/VoteGenerator/AddedOption/AddedOption.tsx
  frontend/src/pages/VoteGenerator/index.styles.tsx
Labels: 🌈 frontend, 💫 feat

#402 내 댓글 조회시 게시글 제목 추가
  backend/src/docs/asciidoc/article.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/com/woowacourse/gongseek/common/exception/ExceptionType.java
  backend/src/main/java/com/woowacourse/gongseek/member/presentation/dto/MyPageCommentResponse.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/ArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/CommentAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/LikeAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/TagAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/VoteAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/ArticleFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/LikeFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/ArticleControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/comment/domain/repository/CommentRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/like/application/LikeServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/like/domain/repository/LikeRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/member/presentation/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/vote/application/VoteServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/vote/presentation/VoteControllerTest.java
Labels: 🔥 backend, 💫 feat

#399 마이페이지에서의 댓글을 보여줄 때에 게시글 정보도 같이 보여주기
  frontend/src/pages/MyPage/UserArticleItem/UserArticleItem.styles.tsx
  frontend/src/pages/MyPage/UserArticleItem/UserArticleItem.tsx
  frontend/src/pages/MyPage/UserCommentBox/UserCommentBox.stories.tsx
  frontend/src/pages/MyPage/UserCommentBox/UserCommentBox.styles.tsx
  frontend/src/pages/MyPage/UserCommentBox/UserCommentBox.tsx
  frontend/src/pages/MyPage/UserItemBox/UserItemBox.tsx
  frontend/src/types/commentResponse.ts
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#417 깃허브 리다이렉트 url 환경 변수로 분리
  backend/src/main/java/com/woowacourse/gongseek/auth/infra/GithubOAuthClient.java
  backend/src/main/resources/application-test.yml
  backend/src/main/resources/logging/file-access-appender.xml
Labels: 🔥 backend, ♻️ refactor

#378 해시태그로 게시글 조회 기능 구현
  backend/src/docs/asciidoc/article.adoc
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/Article.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/articletag/ArticleTags.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepository.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryCustom.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryImpl.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/ArticleController.java
  backend/src/main/java/com/woowacourse/gongseek/tag/application/TagService.java
  backend/src/main/java/com/woowacourse/gongseek/tag/domain/Name.java
  backend/src/main/java/com/woowacourse/gongseek/tag/domain/Tag.java
  backend/src/main/java/com/woowacourse/gongseek/tag/domain/Tags.java
  backend/src/main/java/com/woowacourse/gongseek/tag/domain/repository/TagRepository.java
  backend/src/main/java/com/woowacourse/gongseek/tag/presentation/dto/TagsResponse.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/ArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/ArticleFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/ArticleControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/tag/application/TagServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/tag/domain/NameTest.java
  backend/src/test/java/com/woowacourse/gongseek/tag/domain/TagTest.java
  backend/src/test/java/com/woowacourse/gongseek/tag/domain/repository/TagRepositoryTest.java
Labels: 🔥 backend, 💫 feat

#344 해시태그를 검색 및 조회를 할 수 있도록 한다
  frontend/src/App.tsx
  frontend/src/api/hashTag.ts
  frontend/src/api/search.ts
  frontend/src/components/common/ArticleItem/ArticleItem.styles.tsx
  frontend/src/components/common/ArticleItem/ArticleItem.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/mock/browser.ts
  frontend/src/mock/hashTag.ts
  frontend/src/mock/index.ts
  frontend/src/pages/HashTagSearch/HashTagSearchBox/HashTagSearchBox.stories.tsx
  frontend/src/pages/HashTagSearch/HashTagSearchBox/HashTagSearchBox.styles.tsx
  frontend/src/pages/HashTagSearch/HashTagSearchBox/HashTagSearchBox.tsx
  frontend/src/pages/HashTagSearch/HashTagSearchResult/HashTagSearchResult.stories.tsx
  frontend/src/pages/HashTagSearch/HashTagSearchResult/HashTagSearchResult.styles.tsx
  frontend/src/pages/HashTagSearch/HashTagSearchResult/HashTagSearchResult.tsx
  frontend/src/pages/HashTagSearch/hooks/useGetAllHashTags.tsx
  frontend/src/pages/HashTagSearch/hooks/useGetArticleByHashTag.tsx
  frontend/src/pages/HashTagSearch/index.styles.tsx
  frontend/src/pages/HashTagSearch/index.tsx
  frontend/src/types/searchResponse.ts
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#374 투표가 없는 경우 만들수 있는 ui 추가
  frontend/src/pages/Detail/index.tsx
  frontend/src/pages/DiscussionDetail/VoteGenerateButton/VoteGenerateButton.stories.tsx
  frontend/src/pages/DiscussionDetail/VoteGenerateButton/VoteGenerateButton.tsx
  frontend/src/pages/DiscussionDetail/index.tsx
Labels: 🌈 frontend, 💫 feat

#405 Home에서의 게시글을 보여줄 때에, 제목만을 보여준다
  frontend/src/api/article.ts
  frontend/src/components/common/ArticleItem/ArticleItem.styles.tsx
  frontend/src/components/common/ArticleItem/ArticleItem.tsx
  frontend/src/hooks/useHeartClick.tsx
  frontend/src/styles/Theme.ts
Labels: 🌈 frontend, 🎨 UI, ♻️ refactor

#377 검색시, 유저의 이름과 게시물에 관한 검색을 분리한다
  frontend/src/api/search.ts
  frontend/src/components/common/SearchBar/SearchBar.styles.tsx
  frontend/src/components/common/SearchBar/SearchBar.tsx
  frontend/src/components/common/SortDropdown/SortDropDown.tsx
  frontend/src/components/common/SortDropdown/SortDropdown.stories.tsx
  frontend/src/components/common/SortDropdown/SortDropdown.styles.tsx
  frontend/src/mock/search.ts
  frontend/src/pages/CategoryArticles/CategoryArticles.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/pages/Search/SearchResult/SearchResult.tsx
  frontend/src/pages/Search/hooks/__test__/useGetSearch.test.tsx
  frontend/src/pages/Search/hooks/useGetSearch.tsx
  frontend/src/pages/Search/index.tsx
  frontend/src/store/searchState.ts
  frontend/src/types/searchResponse.ts
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#422 해시태그 에러를 수정한다
  frontend/src/api/hashTag.ts
  frontend/src/api/search.ts
  frontend/src/components/common/MenuSlider/MenuSlider.tsx
  frontend/src/pages/HashTagSearch/HashTagSearchResult/HashTagSearchResult.styles.tsx
  frontend/src/pages/HashTagSearch/HashTagSearchResult/HashTagSearchResult.tsx
  frontend/src/pages/HashTagSearch/hooks/useGetAllHashTags.tsx
  frontend/src/pages/HashTagSearch/index.tsx
Labels: 🐛 bug, 💫 feat

#279 투표, 좋아요에 대한 테스트 코드 작성
  frontend/package.json
  frontend/src/api/search.ts
  frontend/src/components/common/ArticleContent/ArticleContent.tsx
  frontend/src/components/common/ArticleItem/ArticleItem.tsx
  frontend/src/hooks/__test__/useGetDetailArticlesInfo.test.tsx
  frontend/src/hooks/__test__/useHeartClick.test.tsx
  frontend/src/hooks/useHeartClick.tsx
  frontend/src/mock/article.ts
  frontend/src/mock/browser.ts
  frontend/src/mock/data/articles.json
  frontend/src/mock/index.ts
  frontend/src/mock/like.ts
  frontend/src/mock/vote.ts
  frontend/src/pages/Discussion/hooks/__test__/useGetVote.test.tsx
  frontend/src/pages/Discussion/hooks/useGetVote.tsx
  frontend/src/pages/Discussion/hooks/usePostVoteItem.tsx
  frontend/src/types/image.d.ts
  frontend/yarn.lock
Labels: 🌈 frontend, 💫 feat

#395 투표 만료기간에 대한 유효처리 변경
  frontend/src/pages/VoteDeadlineGenerator/index.styles.tsx
  frontend/src/pages/VoteDeadlineGenerator/index.tsx
  frontend/src/utils/dateGenerator.ts
Labels: 🌈 frontend, 💫 feat

#421 토론 게시물에서 질문으로 뜨는 에러 해결
  frontend/src/pages/Detail/index.tsx
  frontend/src/pages/DiscussionDetail/index.tsx
  frontend/src/pages/ErrorDetail/index.tsx
Labels: 🐛 bug, 🌈 frontend

#341 투표하기 할 때 창이 늘었다가 주는 문제 해결
  frontend/src/pages/Discussion/VoteItem/VoteItem.tsx
  frontend/src/pages/Discussion/hooks/usePostVoteItem.tsx
Labels: 🐛 bug, 🌈 frontend

#429 HTTP 관련 로그 수정
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepository.java
  backend/src/main/resources/logback-access.xml
  backend/src/main/resources/logging/file-access-appender.xml
Labels: 🔥 backend, ♻️ refactor

#408 마이페이지 이름 수정하는 버튼 UI 수정
  frontend/src/pages/MyPage/UserProfile/UserProfile.styles.tsx
  frontend/src/pages/MyPage/UserProfile/UserProfile.tsx
Labels: 🌈 frontend, 💫 feat

#423 게시글 전체 조회시 추천순으로 정렬 추가
  backend/.gitignore
  backend/src/docs/asciidoc/article.adoc
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryCustom.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryImpl.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/ArticleController.java
  backend/src/main/java/com/woowacourse/gongseek/like/presentation/LikeController.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/ArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/ArticleFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/ArticleControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/like/domain/repository/LikeRepositoryTest.java
Labels: 🔥 backend, 💫 feat

#403 투표 만료기간에 대한 설명을 좀더 구체화한다.
  frontend/src/pages/VoteDeadlineGenerator/index.styles.tsx
  frontend/src/pages/VoteDeadlineGenerator/index.tsx
Labels: 🌈 frontend, 💫 feat

#410 좋아요할때 깜빡이는 현상 해결
  frontend/src/components/common/ArticleContent/ArticleContent.tsx
  frontend/src/components/common/ArticleContent/hooks/useDeleteArticleContent.tsx
  frontend/src/components/common/ArticleItem/ArticleItem.tsx
  frontend/src/hooks/useHeartClick.tsx
Labels: 🌈 frontend, 💫 feat

#430 해시태그 수정 시 태그 삭제 안되는 버그
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
Labels: 🐛 bug, 🔥 backend

#412 투표 생성할시 옵션들 삭제할수 있는 기능 추가
  frontend/src/pages/VoteGenerator/AddedOption/AddedOption.tsx
  frontend/src/pages/VoteGenerator/index.tsx
Labels: 🌈 frontend, 💫 feat

#426 이미지 업로드 기능을 구현한다
  image-storage/.gitignore
  image-storage/build.gradle
  image-storage/gradle/wrapper/gradle-wrapper.jar
  image-storage/gradle/wrapper/gradle-wrapper.properties
  image-storage/gradlew
  image-storage/gradlew.bat
  image-storage/settings.gradle
  image-storage/src/main/java/com/gongseek/imagestorage/ImagestorageApplication.java
  image-storage/src/main/java/com/gongseek/imagestorage/application/ImageService.java
  image-storage/src/main/java/com/gongseek/imagestorage/application/dto/ImageUrlResponse.java
  image-storage/src/main/java/com/gongseek/imagestorage/config/WebConfig.java
  image-storage/src/main/java/com/gongseek/imagestorage/domain/UploadImageFile.java
  image-storage/src/main/java/com/gongseek/imagestorage/exception/FileNameEmptyException.java
  image-storage/src/main/java/com/gongseek/imagestorage/exception/GlobalExceptionHandler.java
  image-storage/src/main/java/com/gongseek/imagestorage/exception/ImageFileIOException.java
  image-storage/src/main/java/com/gongseek/imagestorage/exception/ImageFileNotFoundException.java
  image-storage/src/main/java/com/gongseek/imagestorage/exception/ImageUploadFailException.java
  image-storage/src/main/java/com/gongseek/imagestorage/exception/dto/ErrorResponse.java
  image-storage/src/main/java/com/gongseek/imagestorage/presentation/ImageController.java
  image-storage/src/main/resources/application-local.yml
  image-storage/src/main/resources/application.yml
  image-storage/src/main/resources/logback-spring.xml
  image-storage/src/main/resources/logging/file-debug-appender.xml
  image-storage/src/main/resources/logging/file-error-appender.xml
  image-storage/src/main/resources/logging/file-info-appender.xml
  image-storage/src/main/resources/logging/file-warn-appender.xml
Labels: 🔥 backend, 💫 feat

#434 토론을 들어간후 질문으로 카테고리를 변경했을때도 투표가 생성되는 에러 해결
  frontend/src/pages/Discussion/hooks/usePostVoteItem.tsx
  frontend/src/pages/WritingArticles/hooks/usePostWritingArticles.tsx
Labels: 🌈 frontend, 💫 feat

#427 toast ui의 imageUrl 길이를 줄인다.
  frontend/src/api/image.ts
  frontend/src/constants/url.tsx
  frontend/src/pages/WritingArticles/index.tsx
Labels: 🌈 frontend, 💫 feat

#433 게시글을 삭제하면 투표도 삭제되도록 수정
  backend/src/main/java/com/woowacourse/gongseek/vote/domain/Vote.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryTest.java
Labels: 🐛 bug, 🔥 backend

#439 toast ui 변경된 메서드네임 적용안된것 수정
  .DS_Store
  frontend/.DS_Store
  frontend/src/pages/WritingArticles/index.tsx
Labels: 🐛 bug, 🌈 frontend

#437 카테고리 검색에서 선택된 카테고리의 색깔을 변경한다.
  frontend/src/pages/HashTagSearch/HashTagSearchBox/HashTagSearchBox.styles.tsx
Labels: 🌈 frontend, 💫 feat

#451 검색어의 최대 글자 수를 설정한다
  frontend/src/components/common/SearchBar/SearchBar.tsx
  frontend/src/utils/validateInput.ts
Labels: 🐛 bug, 🌈 frontend

#453 데스크탑에서 댓글을 입력하는 창의 스타일을 수정한다
  frontend/src/components/common/CommentInputModal/CommentInputModal.styles.tsx
Labels: 🌈 frontend, 🎨 UI, ♻️ refactor

#441 Article삭제시 투표, 투표안 삭제되도록 수정
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/auth/utils/CookieUtils.java
  backend/src/main/java/com/woowacourse/gongseek/vote/application/VoteService.java
  backend/src/main/java/com/woowacourse/gongseek/vote/domain/VoteHistory.java
  backend/src/main/java/com/woowacourse/gongseek/vote/domain/VoteItem.java
  backend/src/main/java/com/woowacourse/gongseek/vote/domain/repository/VoteHistoryRepository.java
  backend/src/main/java/com/woowacourse/gongseek/vote/exception/VoteNotFoundException.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/ArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/like/domain/repository/LikeRepositoryTest.java
Labels: 🐛 bug, 🔥 backend

#449 좋아요 순 정렬 안되는것 수정
  frontend/src/api/article.ts
  frontend/src/pages/Home/hooks/useGetAllArticles.tsx
  frontend/src/types/articleResponse.ts
Labels: 🐛 bug, 🌈 frontend

#457 슬로우 쿼리 로그 설정 및 로그 수정
  backend/src/main/java/com/woowacourse/gongseek/common/exception/GlobalExceptionHandler.java
  backend/src/main/resources/logback-access.xml
  backend/src/main/resources/logback-spring.xml
  backend/src/main/resources/logging/file-access-appender.xml
Labels: 🔥 backend, 💫 feat

#459 서버 예외 로그 상세하게 출력하도록 수정
  backend/src/main/java/com/woowacourse/gongseek/common/exception/GlobalExceptionHandler.java
Labels: 🔥 backend, ♻️ refactor

#462 gitignore 추가
  .gitignore
Labels: ⚙️ chore

#416 환경변수를 설정한다
  frontend/package.json
  frontend/src/constants/url.tsx
  frontend/webpack/.env.development
  frontend/webpack/.env.production
  frontend/webpack/webpack.dev.js
  frontend/webpack/webpack.prod.js
  frontend/yarn.lock
Labels: 🌈 frontend, 💫 feat

#466 CORS 설정 추가
  backend/src/main/java/com/woowacourse/gongseek/config/WebConfig.java
  backend/src/main/resources/logback-access.xml
Labels: 🔥 backend
