Repository woowacourse-teams/2022-gong-seek, pull requests merged in 2022-07, with the labels that each got.

#11 의존성 추가 및 변경
  backend/build.gradle
Labels: 🔥 backend, ⚙️ chore

#12 기본 스타일 설정하기
  frontend/package.json
  frontend/public/index.html
  frontend/public/mockServiceWorker.js
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/src/mock/browser.ts
  frontend/src/mock/index.ts
  frontend/src/mock/login.ts
  frontend/src/styles/Theme.ts
  frontend/src/styles/reset.tsx
  frontend/yarn.lock
Labels: 🌈 frontend, 🎨 UI

#19 공용컴포넌트 그리기
  frontend/.eslintrc.json
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/src/components/common/SearchBar/SearchBar.stories.tsx
  frontend/src/components/common/SearchBar/SearchBar.tsx
  frontend/src/components/layout/Header/Header.stories.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/components/layout/PageLayout/PageLayout.stories.tsx
  frontend/src/components/layout/PageLayout/PageLayout.tsx
  frontend/src/components/layout/TabBar/TabBar.stories.tsx
  frontend/src/components/layout/TabBar/TabBar.tsx
  frontend/src/constants/loginType.tsx
  frontend/src/constants/titleType.tsx
  frontend/src/pages/Login/LoginButton/LoginButton.stories.tsx
  frontend/src/pages/Login/LoginButton/LoginButton.tsx
  frontend/src/styles/Theme.ts
  frontend/src/styles/emotion.d.ts
  frontend/yarn.lock
Labels: 🌈 frontend, 🎨 UI

#23 질문 게시물 등록 기능 구현
  backend/build.gradle
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/question.adoc
  backend/src/main/java/com/woowacourse/gongseek/GongseekApplication.java
  backend/src/main/java/com/woowacourse/gongseek/auth/presentation/dto/TokenResponse.java
  backend/src/main/java/com/woowacourse/gongseek/question/application/QuestionService.java
  backend/src/main/java/com/woowacourse/gongseek/question/domain/Question.java
  backend/src/main/java/com/woowacourse/gongseek/question/domain/repository/QuestionRepository.java
  backend/src/main/java/com/woowacourse/gongseek/question/presentation/QuestionController.java
  backend/src/main/java/com/woowacourse/gongseek/question/presentation/dto/QuestionRequest.java
  backend/src/main/java/com/woowacourse/gongseek/question/presentation/dto/QuestionResponse.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  backend/src/main/resources/static/docs/index.html
  backend/src/main/resources/static/docs/question.html
  backend/src/test/java/com/woowacourse/gongseek/GongseekApplicationTests.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/QuestionAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/config/RestDocsConfig.java
  backend/src/test/java/com/woowacourse/gongseek/question/application/QuestionServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/question/domain/QuestionTest.java
  backend/src/test/java/com/woowacourse/gongseek/question/domain/repository/QuestionRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/question/presentation/QuestionControllerTest.java
Labels: 🔥 backend, 💫 feat

#26 로그인 페이지 컴포넌트 구현
  frontend/.babelrc
  frontend/.storybook/main.js
  frontend/.storybook/webpack.config.js
  frontend/src/App.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/components/layout/PageLayout/PageLayout.tsx
  frontend/src/components/layout/TabBar/TabBar.tsx
  frontend/src/constants/titleType.tsx
  frontend/src/pages/Login/index.stories.tsx
  frontend/src/pages/Login/index.tsx
  frontend/src/styles/emotion.d.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: 🌈 frontend, 🎨 UI

#28 Question 엔티티 리팩터링 및 카테고리 추가
  backend/src/docs/asciidoc/article.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/Article.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/Category.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/QuestionRepository.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/ArticleController.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/ArticleIdResponse.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/ArticleRequest.java
  backend/src/main/java/com/woowacourse/gongseek/question/application/QuestionService.java
  backend/src/main/java/com/woowacourse/gongseek/question/presentation/QuestionController.java
  backend/src/main/java/com/woowacourse/gongseek/question/presentation/dto/QuestionRequest.java
  backend/src/main/java/com/woowacourse/gongseek/question/presentation/dto/QuestionResponse.java
  backend/src/main/resources/static/docs/article.html
  backend/src/main/resources/static/docs/index.html
  backend/src/test/java/com/woowacourse/gongseek/acceptance/ArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/ArticleTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/CategoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/ArticleControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/question/application/QuestionServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/question/domain/repository/QuestionRepositoryTest.java
Labels: 🔥 backend, ♻️ refactor

#30 SpringDataJpa적용 및 생성 날짜 컬럼 추가
  backend/src/main/java/com/woowacourse/gongseek/GongseekApplication.java
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/Article.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepository.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/QuestionRepository.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryTest.java
Labels: 🔥 backend, ♻️ refactor

#31 글 등록 페이지 구현
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/components/layout/TabBar/TabBar.tsx
  frontend/src/pages/Login/index.tsx
  frontend/src/pages/WritingArticles/ToastUiEditor/ToastUiEditor.stories.tsx
  frontend/src/pages/WritingArticles/ToastUiEditor/ToastUiEditor.tsx
  frontend/src/pages/WritingArticles/index.stories.tsx
  frontend/src/pages/WritingArticles/index.tsx
  frontend/src/styles/Theme.ts
  frontend/src/styles/reset.tsx
  frontend/src/types/emotion.d.ts
  frontend/webpack/webpack.common.js
  frontend/yarn.lock
Labels: 🌈 frontend, 🎨 UI

#34 카테고리 선택 페이지 구현
  frontend/src/App.tsx
  frontend/src/components/layout/TabBar/TabBar.tsx
  frontend/src/constants/categoryType.tsx
  frontend/src/pages/CategorySelector/CategorySelector.stories.tsx
  frontend/src/pages/CategorySelector/CategorySelector.tsx
  frontend/src/pages/Login/index.tsx
  frontend/src/pages/WritingArticles/index.tsx
  frontend/src/styles/Theme.ts
Labels: 🌈 frontend, 🎨 UI

#40 게시글 작성하기 로직 구현
  frontend/src/App.tsx
  frontend/src/api/article.ts
  frontend/src/api/login.ts
  frontend/src/pages/CategorySelector/CategorySelector.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/pages/WritingArticles/ToastUiEditor/ToastUiEditor.tsx
  frontend/src/pages/WritingArticles/index.tsx
  frontend/webpack/webpack.common.js
Labels: 🌈 frontend, 💫 feat

#46 깃허브 로그인 관련 에러 수정
  frontend/src/api/article.ts
  frontend/src/api/login.ts
  frontend/src/index.tsx
  frontend/src/mock/login.ts
  frontend/src/pages/Login/index.tsx
Labels: 🐛 bug, 🌈 frontend

#48 로그인 여부에 따라 유저의 접근 페이지 제한
  frontend/src/App.tsx
  frontend/src/components/router/PrivateRouter.tsx
  frontend/src/components/router/PublicRouter.tsx
Labels: 🌈 frontend, 💫 feat

#52 글쓰기 통신 안되는 오류
  frontend/src/App.tsx
  frontend/src/api/article.ts
  frontend/src/api/login.ts
  frontend/src/components/common/SearchBar/SearchBar.style.tsx
  frontend/src/components/common/SearchBar/SearchBar.tsx
  frontend/src/components/layout/Header/Header.style.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/components/layout/PageLayout/PageLayout.tsx
  frontend/src/components/layout/TabBar/TabBar.tsx
  frontend/src/components/layout/TabBar/TabBat.style.tsx
  frontend/src/constants/categoryType.tsx
  frontend/src/constants/titleType.tsx
  frontend/src/index.tsx
  frontend/src/pages/CategorySelector/CategorySelector.style.tsx
  frontend/src/pages/CategorySelector/CategorySelector.tsx
  frontend/src/pages/Login/LoginButton/LoginButton.style.tsx
  frontend/src/pages/Login/LoginButton/LoginButton.tsx
  frontend/src/pages/Login/LoginController/LoginController.tsx
  frontend/src/pages/Login/index.style.tsx
  frontend/src/pages/Login/index.tsx
  frontend/src/pages/WritingArticles/ToastUiEditor/ToastUiEditor.tsx
  frontend/src/pages/WritingArticles/index.style.tsx
  frontend/src/pages/WritingArticles/index.tsx
  frontend/src/styles/Theme.ts
Labels: 🐛 bug, 🌈 frontend

#61 글 등록 완료시 홈으로 되돌리도록 추가
  frontend/src/pages/WritingArticles/index.tsx
Labels: 🌈 frontend, 💫 feat

#67 article에 관한 msw 코드 추가
  frontend/src/api/article.ts
  frontend/src/mock/article.ts
Labels: 🌈 frontend, 💫 feat

#68 새로운 font 적용하기
  frontend/src/styles/reset.tsx
Labels: 🌈 frontend, 💫 feat

#65 AuthService 테스트 추가 및 패키지 분리
  backend/src/docs/asciidoc/article.adoc
  backend/src/main/java/com/woowacourse/gongseek/auth/application/AuthService.java
  backend/src/main/java/com/woowacourse/gongseek/auth/application/OAuthClient.java
  backend/src/main/java/com/woowacourse/gongseek/auth/application/TokenProvider.java
  backend/src/main/java/com/woowacourse/gongseek/auth/infra/GithubOAuthClient.java
  backend/src/main/java/com/woowacourse/gongseek/auth/infra/JwtTokenProvider.java
  backend/src/main/java/com/woowacourse/gongseek/auth/presentation/AuthenticationInterceptor.java
  backend/src/main/java/com/woowacourse/gongseek/config/AuthenticationConfig.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/ArticleControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/auth/application/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/auth/infra/JwtTokenProviderTest.java
  backend/src/test/java/com/woowacourse/gongseek/auth/utils/TokenExtractorTest.java
Labels: 🔥 backend, ✅ test

#73 댓글 컴포넌트 그리기
  frontend/src/components/common/Comment/Comment.stories.tsx
  frontend/src/components/common/Comment/Comment.style.tsx
  frontend/src/components/common/Comment/Comment.tsx
  frontend/src/styles/Theme.ts
  frontend/src/styles/reset.tsx
Labels: 🌈 frontend, 🎨 UI

#78 Article Controller Test 수정
  backend/src/main/java/com/woowacourse/gongseek/auth/presentation/AuthenticationArgumentResolver.java
  backend/src/main/java/com/woowacourse/gongseek/auth/presentation/AuthenticationInterceptor.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/ArticleControllerTest.java
Labels: 🐛 bug, 🔥 backend

#82 에러 상세 페이지 컴포넌트 그리기
  frontend/src/App.tsx
  frontend/src/components/common/ArticleContent/ArticleContent.style.tsx
  frontend/src/components/common/Comment/Comment.style.tsx
  frontend/src/pages/ErrorDetail/index.stories.tsx
  frontend/src/pages/ErrorDetail/index.style.tsx
  frontend/src/pages/ErrorDetail/index.tsx
  frontend/src/styles/Theme.ts
Labels: 🌈 frontend, 🎨 UI

#85 투표 컴포넌트 및 로직 구현
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/vote.ts
  frontend/src/index.tsx
  frontend/src/mock/browser.ts
  frontend/src/mock/index.ts
  frontend/src/mock/vote.ts
  frontend/src/pages/Discussion/Vote/Vote.stories.tsx
  frontend/src/pages/Discussion/Vote/Vote.styles.tsx
  frontend/src/pages/Discussion/Vote/Vote.tsx
  frontend/src/pages/Discussion/VoteItem/VoteItem.stories.tsx
  frontend/src/pages/Discussion/VoteItem/VoteItem.styles.tsx
  frontend/src/pages/Discussion/VoteItem/VoteItem.tsx
  frontend/src/pages/WritingArticles/index.style.tsx
  frontend/src/pages/WritingArticles/index.tsx
  frontend/src/styles/Theme.ts
  frontend/src/utils/converter.ts
  frontend/yarn.lock
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#88 댓글 생성/수정 이 일어나는 컴포넌트 생성하기
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/common/ArticleContent/ArticleContent.stories.tsx
  frontend/src/components/common/ArticleContent/ArticleContent.style.tsx
  frontend/src/components/common/ArticleContent/ArticleContent.tsx
  frontend/src/components/common/Comment/Comment.stories.tsx
  frontend/src/components/common/Comment/Comment.tsx
  frontend/src/components/common/CommentInputModal/CommentInputModa.stories.tsx
  frontend/src/components/common/CommentInputModal/CommentInputModal.styles.tsx
  frontend/src/components/common/CommentInputModal/CommentInputModal.tsx
  frontend/src/components/layout/TabBar/TabBar.style.tsx
  frontend/src/components/layout/TabBar/TabBar.tsx
  frontend/src/pages/ErrorDetail/index.style.tsx
  frontend/src/pages/ErrorDetail/index.tsx
  frontend/src/styles/Theme.ts
Labels: 🌈 frontend, 🎨 UI

#91 투표 생성하기 UI 추가 및 로직 구현
  frontend/src/App.tsx
  frontend/src/api/vote.ts
  frontend/src/components/common/Input/Input.stories.tsx
  frontend/src/components/common/Input/Input.tsx
  frontend/src/components/layout/Header/Header.style.tsx
  frontend/src/components/layout/TabBar/TabBar.style.tsx
  frontend/src/mock/vote.ts
  frontend/src/pages/Discussion/Vote/Vote.tsx
  frontend/src/pages/Discussion/VoteItem/VoteItem.tsx
  frontend/src/pages/VoteGenerator/AddedOption/AddedOption.stories.tsx
  frontend/src/pages/VoteGenerator/AddedOption/AddedOption.tsx
  frontend/src/pages/VoteGenerator/index.stories.tsx
  frontend/src/pages/VoteGenerator/index.styles.tsx
  frontend/src/pages/VoteGenerator/index.tsx
  frontend/src/pages/WritingArticles/index.tsx
  frontend/src/styles/Theme.ts
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#93 토론 상세 페이지 만들기
  frontend/src/App.tsx
  frontend/src/components/common/ArticleContent/ArticleContent.style.tsx
  frontend/src/components/common/ArticleContent/ArticleContent.tsx
  frontend/src/pages/Detail/index.stories.tsx
  frontend/src/pages/Detail/index.style.tsx
  frontend/src/pages/Detail/index.tsx
  frontend/src/pages/Discussion/Vote/Vote.styles.tsx
  frontend/src/pages/ErrorDetail/index.stories.tsx
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#95 댓글 기능 msw 구현
  frontend/src/api/comments.ts
  frontend/src/mock/comment.ts
Labels: 🌈 frontend, 💫 feat

#99 홈에서 노출될 인기 article 컴포넌트 구현
  frontend/src/api/article.ts
  frontend/src/pages/Discussion/VoteItem/VoteItem.tsx
  frontend/src/pages/Home/PopularArticle/PopularArticle.stories.tsx
  frontend/src/pages/Home/PopularArticle/PopularArticle.style.tsx
  frontend/src/pages/Home/PopularArticle/PopularArticle.tsx
  frontend/src/styles/Theme.ts
  frontend/src/types/articleResponse.ts
  frontend/src/types/commentResponse.ts
  frontend/src/utils/converter.ts
Labels: 🌈 frontend, 🎨 UI

#103 댓글 로직 구현
  frontend/src/api/comments.ts
  frontend/src/components/common/Comment/Comment.tsx
  frontend/src/components/common/CommentInputModal/CommentInputModal.tsx
  frontend/src/mock/browser.ts
  frontend/src/mock/comment.ts
  frontend/src/mock/index.ts
  frontend/src/pages/Detail/index.style.tsx
  frontend/src/pages/Detail/index.tsx
Labels: 🌈 frontend, ✅ test, 💫 feat

#104 게시글 생성, 수정, 삭제 로직 구현
  frontend/src/App.tsx
  frontend/src/api/article.ts
  frontend/src/api/comments.ts
  frontend/src/components/common/ArticleContent/ArticleContent.tsx
  frontend/src/components/layout/TabBar/TabBar.tsx
  frontend/src/pages/Detail/index.tsx
  frontend/src/pages/ErrorDetail/index.tsx
  frontend/src/pages/Home/PopularArticle/PopularArticle.tsx
  frontend/src/types/articleResponse.ts
  frontend/src/types/author.ts
  frontend/src/types/commentResponse.ts
Labels: 🌈 frontend, 💫 feat

#102 댓글 기능 구현
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/comment/application/CommentService.java
  backend/src/main/java/com/woowacourse/gongseek/comment/domain/Comment.java
  backend/src/main/java/com/woowacourse/gongseek/comment/domain/Content.java
  backend/src/main/java/com/woowacourse/gongseek/comment/domain/repository/CommentRepository.java
  backend/src/main/java/com/woowacourse/gongseek/comment/presentation/CommentController.java
  backend/src/main/java/com/woowacourse/gongseek/comment/presentation/dto/CommentRequest.java
  backend/src/main/java/com/woowacourse/gongseek/comment/presentation/dto/CommentResponse.java
  backend/src/main/java/com/woowacourse/gongseek/member/domain/Member.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/CommentAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/ArticleFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/AuthFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/CommentFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/comment/application/CommentServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/comment/domain/ContentTest.java
  backend/src/test/java/com/woowacourse/gongseek/comment/domain/repository/CommentRepositoryTest.java
Labels: 🔥 backend, 💫 feat

#106 댓글 기능 인가처리
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/comment/application/CommentService.java
  backend/src/main/java/com/woowacourse/gongseek/comment/presentation/CommentController.java
  backend/src/main/java/com/woowacourse/gongseek/member/domain/Member.java
  backend/src/main/java/com/woowacourse/gongseek/member/presentation/dto/MemberDto.java
  backend/src/test/java/com/woowacourse/gongseek/comment/application/CommentServiceTest.java
Labels: 🔥 backend, ♻️ refactor

#108 게시물 수정 삭제 기능 구현
  backend/src/docs/asciidoc/article.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/oauth.adoc
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/Article.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/ArticleController.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/ArticleResponse.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/ArticleUpdateResponse.java
  backend/src/main/java/com/woowacourse/gongseek/auth/presentation/AuthenticationArgumentResolver.java
  backend/src/main/java/com/woowacourse/gongseek/auth/presentation/AuthorizationInterceptor.java
  backend/src/main/java/com/woowacourse/gongseek/member/presentation/dto/AuthorDto.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/ArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/CommentAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/ArticleFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/AuthFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/CommentFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/ArticleTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/ArticleControllerTest.java
Labels: 🔥 backend, 💫 feat

#110 게시물 조회에 필요한 공통 컴포넌트 구현
  frontend/src/components/common/ArticleItem/ArticleItem.stories.tsx
  frontend/src/components/common/ArticleItem/ArticleItem.styles.tsx
  frontend/src/components/common/ArticleItem/ArticleItem.tsx
  frontend/src/pages/Detail/index.tsx
  frontend/src/styles/Theme.ts
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#114 상세 페이지에서의 백엔드와의 api 연결
  frontend/src/App.tsx
  frontend/src/api/article.ts
  frontend/src/api/comments.ts
  frontend/src/api/login.ts
  frontend/src/api/vote.ts
  frontend/src/components/common/ArticleContent/ArticleContent.style.tsx
  frontend/src/components/common/ArticleContent/ArticleContent.tsx
  frontend/src/components/common/Comment/Comment.tsx
  frontend/src/components/common/CommentInputModal/CommentInputModal.tsx
  frontend/src/constants/categoryType.tsx
  frontend/src/constants/url.tsx
  frontend/src/index.tsx
  frontend/src/mock/article.ts
  frontend/src/mock/comment.ts
  frontend/src/mock/data/articles.json
  frontend/src/mock/data/comment.json
  frontend/src/mock/data/detailArticle.json
  frontend/src/pages/Detail/index.style.tsx
  frontend/src/pages/Detail/index.tsx
  frontend/src/pages/ErrorDetail/index.tsx
  frontend/src/pages/Home/PopularArticle/PopularArticle.tsx
  frontend/src/pages/Login/LoginController/LoginController.tsx
  frontend/src/pages/UpdateWriting/index.tsx
  frontend/src/pages/WritingArticles/ToastUiEditor/ToastUiEditor.tsx
  frontend/src/pages/WritingArticles/index.tsx
  frontend/src/store/articleState.ts
Labels: 🌈 frontend, ✅ test, 💫 feat

#120 MenuSlider 컴포넌트 구현
  frontend/public/index.html
  frontend/src/components/common/MenuSlider/MenuSlider.stories.tsx
  frontend/src/components/common/MenuSlider/MenuSlider.styles.tsx
  frontend/src/components/common/MenuSlider/MenuSlider.tsx
  frontend/src/components/layout/TabBar/TabBar.tsx
  frontend/src/store/userState.ts
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#121 카테고리별 조회 페이지 만들기
  frontend/src/App.tsx
  frontend/src/components/common/ArticleItem/ArticleItem.styles.tsx
  frontend/src/mock/article.ts
  frontend/src/pages/CategoryArticles/CategoryArticles.stories.tsx
  frontend/src/pages/CategoryArticles/CategoryArticles.styles.tsx
  frontend/src/pages/CategoryArticles/CategoryArticles.tsx
  frontend/src/pages/CategoryArticles/SortDropdown/SortDropDown.tsx
  frontend/src/pages/CategoryArticles/SortDropdown/SortDropdown.stories.tsx
  frontend/src/pages/CategoryArticles/SortDropdown/SortDropdown.styles.tsx
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#126 Home UI 그리기
  frontend/src/pages/Home/index.stories.tsx
  frontend/src/pages/Home/index.styles.tsx
  frontend/src/pages/Home/index.tsx
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#118 게시글 삭제시 키제약조건 제거
  backend/src/main/java/com/woowacourse/gongseek/article/domain/Article.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/ArticleResponse.java
  backend/src/main/java/com/woowacourse/gongseek/comment/domain/Comment.java
  backend/src/main/java/com/woowacourse/gongseek/comment/domain/Content.java
  backend/src/main/java/com/woowacourse/gongseek/comment/presentation/dto/CommentResponse.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/ArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryTest.java
Labels: 🐛 bug, 🔥 backend

#127 게시글 전체 조회 로직 구현
  frontend/src/App.tsx
  frontend/src/api/article.ts
  frontend/src/components/common/ArticleItem/ArticleItem.tsx
  frontend/src/components/common/MenuSlider/MenuSlider.styles.tsx
  frontend/src/components/common/MenuSlider/MenuSlider.tsx
  frontend/src/constants/categoryType.tsx
  frontend/src/constants/url.tsx
  frontend/src/pages/CategoryArticles/CategoryArticles.styles.tsx
  frontend/src/pages/CategoryArticles/CategoryArticles.tsx
  frontend/src/pages/CategoryArticles/SortDropdown/SortDropDown.tsx
  frontend/src/pages/CategoryArticles/SortDropdown/SortDropdown.styles.tsx
  frontend/src/pages/Home/PopularArticle/PopularArticle.style.tsx
  frontend/src/pages/Home/PopularArticle/PopularArticle.tsx
  frontend/src/pages/Home/index.styles.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/styles/Theme.ts
  frontend/src/types/articleResponse.ts
Labels: 🌈 frontend, 💫 feat

#129 yml 파일 오타 수정
  backend/src/main/resources/application-oauth.yml
Labels: 🔥 backend, ♻️ refactor

#132 배포된 백엔드와의 API 연결
  frontend/src/constants/url.tsx
  frontend/src/pages/CategoryArticles/CategoryArticles.tsx
  frontend/src/pages/Home/PopularArticle/PopularArticle.tsx
Labels: 🌈 frontend, ✅ test, 💫 feat

#138 webpack build 에러 수정
  frontend/package.json
  frontend/webpack/webpack.common.js
Labels: 🐛 bug, 🌈 frontend

#141 dependency와 devdependency를 나눈다.
  frontend/package.json
  frontend/yarn.lock
Labels: 🌈 frontend, ♻️ refactor

#143 mocking이 안되는 에러 수정
  frontend/src/index.tsx
  frontend/src/mock/article.ts
  frontend/src/mock/comment.ts
  frontend/src/mock/login.ts
  frontend/src/mock/vote.ts
Labels: 🐛 bug, 🌈 frontend

#145 Not found 페이지 그리기
  frontend/src/App.tsx
  frontend/src/assets/gongseek.png
  frontend/src/pages/NotFound/index.stories.tsx
  frontend/src/pages/NotFound/index.styles.tsx
  frontend/src/pages/NotFound/index.tsx
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#147 로딩 중인 화면 그리기
  frontend/src/components/common/ArticleContent/ArticleContent.tsx
  frontend/src/components/common/Comment/Comment.tsx
  frontend/src/components/common/Loading/Loading.stories.tsx
  frontend/src/components/common/Loading/Loading.style.tsx
  frontend/src/components/common/Loading/Loading.tsx
  frontend/src/pages/CategoryArticles/CategoryArticles.tsx
  frontend/src/pages/Discussion/Vote/Vote.tsx
  frontend/src/pages/Discussion/VoteItem/VoteItem.tsx
  frontend/src/pages/Home/PopularArticle/PopularArticle.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/pages/Login/index.tsx
  frontend/src/pages/UpdateWriting/index.tsx
  frontend/src/pages/VoteGenerator/index.tsx
  frontend/src/pages/WritingArticles/index.tsx
  frontend/src/styles/Theme.ts
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#140 조회수 안올라가는 에러 처리
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/ArticleAcceptanceTest.java
Labels: 🐛 bug, 🔥 backend, ♻️ refactor

#155 CORS 에러 수정
  backend/src/main/java/com/woowacourse/gongseek/auth/infra/GithubOAuthClient.java
  backend/src/main/java/com/woowacourse/gongseek/config/WebConfig.java
Labels: 🐛 bug, 🔥 backend

#157 Cors URL domain으로 변경
  backend/src/main/java/com/woowacourse/gongseek/auth/infra/GithubOAuthClient.java
  backend/src/main/java/com/woowacourse/gongseek/config/WebConfig.java
Labels: 🔥 backend, ♻️ refactor

#159 로그인 화면 데스크탑 버전을 만든다.
  frontend/src/components/common/Loading/Loading.styles.tsx
  frontend/src/components/layout/Header/Header.styles.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/components/layout/PageLayout/PageLayout.tsx
  frontend/src/components/layout/TabBar/TabBar.styles.tsx
  frontend/src/pages/Login/LoginButton/LoginButton.styles.tsx
  frontend/src/pages/Login/index.tsx
  frontend/src/styles/Theme.ts
  frontend/src/styles/reset.tsx
  frontend/src/types/emotion.d.ts
  frontend/webpack/webpack.common.js
Labels: 🌈 frontend, 🎨 UI, ♻️ refactor

#162 글쓰기 화면 데스크 탑 버전을 만든다
  frontend/src/App.tsx
  frontend/src/components/layout/Header/Header.styles.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/pages/CategorySelector/CategorySelector.tsx
  frontend/src/pages/WritingArticles/ToastUiEditor/ToastUiEditor.tsx
  frontend/src/pages/WritingArticles/index.styles.tsx
  frontend/src/pages/WritingArticles/index.tsx
  frontend/src/styles/Theme.ts
Labels: 🌈 frontend, 🎨 UI

#163 로그 설정
  backend/src/main/resources/console-appender.xml
  backend/src/main/resources/file-debug-appender.xml
  backend/src/main/resources/file-error-appender.xml
  backend/src/main/resources/file-info-appender.xml
  backend/src/main/resources/file-warn-appender.xml
  backend/src/main/resources/logback-spring.xml
Labels: 🔥 backend, 💫 feat

#158 github login 외부 api 사용하는 부분 테스트 mocking 수정
  backend/src/main/java/com/woowacourse/gongseek/auth/infra/GithubOAuthClient.java
  backend/src/main/java/com/woowacourse/gongseek/auth/presentation/dto/GithubAccessTokenResponse.java
  backend/src/main/java/com/woowacourse/gongseek/config/WebConfig.java
  backend/src/main/resources/application-oauth.yml
  backend/src/test/java/com/woowacourse/gongseek/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/ArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/AuthFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/FakeGithubController.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/auth/application/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/auth/support/FakeAuthClient.java
  backend/src/test/java/com/woowacourse/gongseek/auth/support/FakeAuthController.java
  backend/src/test/java/com/woowacourse/gongseek/auth/support/GithubClientFixtures.java
  backend/src/test/resources/application-oauth.yml
  backend/src/test/resources/application.yml
Labels: 🔥 backend, ♻️ refactor

#161 전체 게시글을 조회하는 기능 구현
  backend/build.gradle
  backend/src/docs/asciidoc/article.adoc
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/Article.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepository.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryCustom.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryImpl.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/ArticleController.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/ArticlePageResponse.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/ArticlePreviewResponse.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/ArticleResponse.java
  backend/src/main/java/com/woowacourse/gongseek/comment/application/CommentService.java
  backend/src/main/java/com/woowacourse/gongseek/comment/domain/Comment.java
  backend/src/main/java/com/woowacourse/gongseek/comment/domain/repository/CommentRepository.java
  backend/src/main/java/com/woowacourse/gongseek/comment/presentation/CommentController.java
  backend/src/main/java/com/woowacourse/gongseek/comment/presentation/dto/CommentResponse.java
  backend/src/main/java/com/woowacourse/gongseek/config/QuerydslConfig.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/file-debug-appender.xml
  backend/src/main/resources/file-error-appender.xml
  backend/src/main/resources/file-warn-appender.xml
  backend/src/test/java/com/woowacourse/gongseek/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/ArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/ArticleControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/comment/application/CommentServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/comment/domain/repository/CommentRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/comment/presentation/CommentControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/commons/DatabaseCleaner.java
  backend/src/test/java/com/woowacourse/gongseek/member/domain/repository/MemberRepositoryTest.java
Labels: 🔥 backend, 💫 feat

#168 react-query를 custom hook으로 분리한다
  frontend/.prettierrc
  frontend/src/App.tsx
  frontend/src/api/article.ts
  frontend/src/components/common/ArticleContent/ArticleContent.tsx
  frontend/src/components/common/ArticleContent/hooks/useDeleteArticleContent.tsx
  frontend/src/components/common/Comment/Comment.tsx
  frontend/src/components/common/Comment/hooks/useDeleteComment.tsx
  frontend/src/components/common/CommentInputModal/CommentInputModal.tsx
  frontend/src/components/common/CommentInputModal/hooks/usePostCommentInputModal.tsx
  frontend/src/components/common/CommentInputModal/hooks/usePutCommentInputModal.tsx
  frontend/src/pages/Discussion/Vote/Vote.tsx
  frontend/src/pages/Discussion/VoteItem/VoteItem.tsx
  frontend/src/pages/Discussion/hooks/useGetVote.tsx
  frontend/src/pages/Discussion/hooks/usePostVoteItem.tsx
  frontend/src/pages/ErrorDetail/hooks/useGetErrorDetailArticle.tsx
  frontend/src/pages/ErrorDetail/hooks/useGetErrorDetailComment.tsx
  frontend/src/pages/ErrorDetail/index.tsx
  frontend/src/pages/Home/PopularArticle/PopularArticle.tsx
  frontend/src/pages/Home/PopularArticle/hooks/useGetPopularArticles.tsx
  frontend/src/pages/Login/hooks/useGetLoginURL.tsx
  frontend/src/pages/Login/index.tsx
  frontend/src/pages/UpdateWriting/hooks/usePostUpdateWritingArticle.tsx
  frontend/src/pages/UpdateWriting/index.tsx
  frontend/src/pages/WritingArticles/hooks/usePostWritingArticles.tsx
  frontend/src/pages/WritingArticles/index.tsx
  frontend/src/store/userState.ts
Labels: 🌈 frontend, 💫 feat, ♻️ refactor

#172 HTTPS 설정
  backend/src/main/java/com/woowacourse/gongseek/auth/infra/GithubOAuthClient.java
Labels: 🔥 backend, 💫 feat

#173 전체 게시글 조회 무한 스크롤을 구현한다
  frontend/src/api/article.ts
  frontend/src/components/common/InfiniteScrollObserver/InfiniteScrollObserver.tsx
  frontend/src/constants/url.tsx
  frontend/src/hooks/useIntersectionObserver.tsx
  frontend/src/index.tsx
  frontend/src/pages/ErrorDetail/hooks/useGetErrorDetailArticle.tsx
  frontend/src/pages/Home/PopularArticle/PopularArticle.tsx
  frontend/src/pages/Home/hooks/useGetAllArticles.tsx
  frontend/src/pages/Home/hooks/useGetPopularArticles.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/types/articleResponse.ts
Labels: 🌈 frontend, 💫 feat, ♻️ refactor

#175 https cors error 해결
  backend/src/main/java/com/woowacourse/gongseek/config/WebConfig.java
Labels: 🔥 backend, ♻️ refactor

#176 조회수가 2씩 증가하는 오류 수정
  frontend/src/components/common/InfiniteScrollObserver/InfiniteScrollObserver.tsx
  frontend/src/pages/ErrorDetail/hooks/useGetErrorDetailArticle.tsx
  frontend/src/pages/ErrorDetail/index.tsx
  frontend/src/pages/Home/hooks/useGetAllArticles.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/pages/Login/LoginController/LoginController.tsx
  frontend/src/types/articleResponse.ts
Labels: 🐛 bug, 🌈 frontend

#164 커스텀 예외 생성 및 예외 처리 방법 변경
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/Content.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/Title.java
  backend/src/main/java/com/woowacourse/gongseek/article/exception/ArticleCategoryNotFoundException.java
  backend/src/main/java/com/woowacourse/gongseek/article/exception/ArticleContentNullOrEmptyException.java
  backend/src/main/java/com/woowacourse/gongseek/article/exception/ArticleContentTooLongException.java
  backend/src/main/java/com/woowacourse/gongseek/article/exception/ArticleNotFoundException.java
  backend/src/main/java/com/woowacourse/gongseek/article/exception/ArticleTitleNullOrEmptyException.java
  backend/src/main/java/com/woowacourse/gongseek/article/exception/ArticleTitleTooLongException.java
  backend/src/main/java/com/woowacourse/gongseek/auth/exception/EmptyTokenException.java
  backend/src/main/java/com/woowacourse/gongseek/auth/exception/GithubAccessTokenLoadFailException.java
  backend/src/main/java/com/woowacourse/gongseek/auth/exception/GithubUserProfileLoadFailException.java
  backend/src/main/java/com/woowacourse/gongseek/auth/exception/InvalidTokenException.java
  backend/src/main/java/com/woowacourse/gongseek/auth/exception/InvalidTokenTypeException.java
  backend/src/main/java/com/woowacourse/gongseek/auth/exception/NoAuthorizationException.java
  backend/src/main/java/com/woowacourse/gongseek/auth/exception/NoSuchAuthenticationDataException.java
  backend/src/main/java/com/woowacourse/gongseek/auth/infra/GithubOAuthClient.java
  backend/src/main/java/com/woowacourse/gongseek/auth/presentation/AuthenticationArgumentResolver.java
  backend/src/main/java/com/woowacourse/gongseek/auth/presentation/AuthenticationInterceptor.java
  backend/src/main/java/com/woowacourse/gongseek/auth/utils/TokenExtractor.java
  backend/src/main/java/com/woowacourse/gongseek/comment/application/CommentService.java
  backend/src/main/java/com/woowacourse/gongseek/comment/domain/Content.java
  backend/src/main/java/com/woowacourse/gongseek/comment/exception/CommentNotFoundException.java
  backend/src/main/java/com/woowacourse/gongseek/comment/exception/CommentNullOrEmptyException.java
  backend/src/main/java/com/woowacourse/gongseek/comment/exception/CommentTooLongException.java
  backend/src/main/java/com/woowacourse/gongseek/common/exception/ApplicationException.java
  backend/src/main/java/com/woowacourse/gongseek/common/exception/ErrorResponse.java
  backend/src/main/java/com/woowacourse/gongseek/common/exception/ExceptionType.java
  backend/src/main/java/com/woowacourse/gongseek/common/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/gongseek/common/exception/UnSupportedExceptionType.java
  backend/src/main/java/com/woowacourse/gongseek/exception/ApplicationControllerAdvice.java
  backend/src/main/java/com/woowacourse/gongseek/exception/ExceptionDto.java
  backend/src/main/java/com/woowacourse/gongseek/member/exception/MemberNotFoundException.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/ArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/CommentFixtures.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/ContentTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/TitleTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/ViewsTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/ArticleControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/auth/utils/TokenExtractorTest.java
  backend/src/test/java/com/woowacourse/gongseek/comment/application/CommentServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/comment/domain/ContentTest.java
Labels: 🔥 backend, 💫 feat, ♻️ refactor

#181 DB 서버 설정
  backend/.gitignore
  backend/src/main/java/com/woowacourse/gongseek/config/WebConfig.java
  backend/src/main/resources/application-jwt.yml
  backend/src/main/resources/application-oauth.yml
  backend/src/main/resources/application.yml
Labels: 🔥 backend, 💫 feat, ♻️ refactor

#183 중복 코드 제거 및 빠진 괄호 추가
  backend/src/main/java/com/woowacourse/gongseek/article/domain/Content.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
Labels: 🐛 bug, 🔥 backend
