Repository woowacourse-teams/2022-gong-seek, pull requests merged in 2022-11, with the labels that each got.

#889 게시글 검색 쿼리 수정
  backend/src/main/java/com/woowacourse/gongseek/article/infra/repository/PagingArticleRepositoryImpl.java
Labels: 🔥 backend, ♻️ refactor

#899 투표 명세 변경
  backend/src/main/java/com/woowacourse/gongseek/vote/domain/repository/dto/VoteItemDto.java
  backend/src/test/java/com/woowacourse/gongseek/vote/application/VoteServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/vote/domain/repository/VoteItemRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/vote/presentation/VoteControllerTest.java
Labels: 🐛 bug, 🔥 backend

#896 인기게시물에서 isLike여부에 따라서 보여주는 UI를 변경한다.
  frontend/src/components/article/PopularArticleCarousel/PopularArticleCarousel.styles.tsx
  frontend/src/components/article/PopularArticleCarousel/PopularArticleCarousel.tsx
  frontend/src/components/article/PopularArticleItem/PopularArticleItem.styles.tsx
  frontend/src/components/article/PopularArticleItem/PopularArticleItem.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/storybook/Article/PopularArticle.stories.tsx
Labels: 🌈 frontend, 💫 feat

#893 파일 업로드 시, 파일 형식 제한을 변경한다
  backend/build.gradle
  backend/src/main/java/com/woowacourse/gongseek/common/exception/ExceptionType.java
  backend/src/main/java/com/woowacourse/gongseek/image/application/ImageFileValidator.java
  backend/src/main/java/com/woowacourse/gongseek/image/application/ImageService.java
  backend/src/main/java/com/woowacourse/gongseek/image/domain/ImageExtension.java
  backend/src/main/java/com/woowacourse/gongseek/image/exception/InvalidFileFormatException.java
  backend/src/main/java/com/woowacourse/gongseek/image/exception/UnsupportedContentTypeException.java
  backend/src/main/java/com/woowacourse/gongseek/image/exception/UnsupportedImageExtension.java
  backend/src/main/java/com/woowacourse/gongseek/image/exception/UnsupportedImageFileTypeException.java
  backend/src/main/java/com/woowacourse/gongseek/image/infra/FileNameGenerator.java
  backend/src/main/java/com/woowacourse/gongseek/image/infra/S3Uploader.java
  backend/src/test/java/com/woowacourse/gongseek/image/application/ImageFileValidatorTest.java
  backend/src/test/java/com/woowacourse/gongseek/image/infra/FileNameGeneratorTest.java
  backend/src/test/resources/failimage.jpg
  backend/src/test/resources/successimage.jpg
Labels: 🔥 backend, ♻️ refactor

#892 main에 반영된 핫픽스된 부분을 develop에 반영한다.
  frontend/package.json
  frontend/src/components/article/PopularArticleCarousel/PopularArticleCarousel.styles.tsx
  frontend/src/components/article/PopularArticleCarousel/PopularArticleCarousel.tsx
  frontend/src/components/article/PopularArticleItem/PopularArticleItem.styles.tsx
  frontend/src/components/article/PopularArticleItem/PopularArticleItem.tsx
  frontend/src/components/comment/CommentContent/CommentContent.tsx
  frontend/src/components/search/SearchResult/SearchResult.tsx
  frontend/src/components/tempArticle/TemporaryArticleList/TemporaryArticleList.tsx
  frontend/src/components/user/UserArticleBox/UserArticleBox.tsx
  frontend/src/components/user/UserCommentBox/UserCommentBox.tsx
  frontend/src/pages/CategoryArticles/CategoryArticles.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/pages/UpdateWriting/index.tsx
  frontend/src/storybook/Article/PopularArticle.stories.tsx
  frontend/src/utils/converter.ts
Labels: 🌈 frontend, 💫 feat

#907 지원하는 이미지 확장자 리스트를 set 자료구조로 변경한다.
  backend/src/main/java/com/woowacourse/gongseek/image/domain/ImageExtension.java
Labels: 🔥 backend, ♻️ refactor

#910 500 에러 예외 메시지 보강
  backend/src/main/java/com/woowacourse/gongseek/common/exception/GlobalExceptionHandler.java
Labels: 🔥 backend, ♻️ refactor

#905 group by 조건절 index 타도록 수정
  backend/src/main/java/com/woowacourse/gongseek/article/infra/repository/PagingArticleRepositoryImpl.java
Labels: 🔥 backend, ♻️ refactor

#912 인터셉터에서 비회원 검증 로직 추가 및 리팩토링
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/article/application/TempArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/article/infra/repository/PagingArticleRepositoryImpl.java
  backend/src/main/java/com/woowacourse/gongseek/auth/application/AuthService.java
  backend/src/main/java/com/woowacourse/gongseek/auth/presentation/AuthenticationInterceptor.java
  backend/src/main/java/com/woowacourse/gongseek/comment/application/CommentService.java
  backend/src/main/java/com/woowacourse/gongseek/comment/domain/repository/CommentRepository.java
  backend/src/main/java/com/woowacourse/gongseek/config/WebConfig.java
  backend/src/main/java/com/woowacourse/gongseek/like/application/LikeService.java
  backend/src/main/java/com/woowacourse/gongseek/vote/application/VoteService.java
  backend/src/main/java/com/woowacourse/gongseek/vote/domain/VoteItems.java
  backend/src/main/java/com/woowacourse/gongseek/vote/domain/repository/VoteHistoryRepository.java
  backend/src/main/java/com/woowacourse/gongseek/vote/domain/repository/VoteItemRepository.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/VoteAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/ArticleTagRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/comment/application/CommentServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/like/application/LikeServiceTest.java
Labels: 🔥 backend, ♻️ refactor
