Repository woowacourse-teams/2022-gong-seek, pull requests merged in 2022-09, with the labels that each got.

#474 쿠키의 sameSite옵션을 None으로 변경한다.
  backend/src/main/java/com/woowacourse/gongseek/auth/utils/CookieUtils.java
Labels: 🐛 bug, 🔥 backend

#456 검색시 포커스가 유지되도록 한다.
  frontend/src/components/common/SearchBar/SearchBar.tsx
Labels: 🌈 frontend, 💫 feat

#477 깃허브 이름이 없을 경우 로그인이 안되는 버그 해결
  backend/src/main/java/com/woowacourse/gongseek/auth/utils/CookieUtils.java
  backend/src/main/java/com/woowacourse/gongseek/member/domain/Member.java
  backend/src/test/java/com/woowacourse/gongseek/auth/application/AuthServiceTest.java
Labels: 🐛 bug, 🔥 backend

#484 투표 글 작성시, 여러 줄을 입력하면 글자가 넘쳐서 보이는 것을 수정한다
  frontend/src/pages/VoteGenerator/AddedOption/AddedOption.tsx
Labels: 🌈 frontend, 💫 feat

#489 DTO 빌더 패턴 적용 및 타임 관련 entity 빼기
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/Article.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/ArticleResponse.java
  backend/src/main/java/com/woowacourse/gongseek/comment/domain/Comment.java
  backend/src/main/java/com/woowacourse/gongseek/comment/presentation/dto/CommentResponse.java
  backend/src/main/java/com/woowacourse/gongseek/common/domain/BaseTimeEntity.java
  backend/src/main/java/com/woowacourse/gongseek/member/presentation/dto/MyPageArticleResponse.java
  backend/src/test/java/com/woowacourse/gongseek/member/presentation/MemberControllerTest.java
Labels: 🔥 backend, ♻️ refactor

#499 build 시 서브모듈을 위한 gradle task추가
  backend/.gitignore
  backend/build.gradle
  backend/src/main/resources/application.yml
Labels: 🐛 bug, 🔥 backend

#501 댓글 작성에 Toast Editor를 적용한다
  frontend/src/api/article.ts
  frontend/src/api/search.ts
  frontend/src/components/common/ArticleContent/ArticleContent.tsx
  frontend/src/components/common/Comment/Comment.tsx
  frontend/src/components/common/CommentInputModal/CommentInputModal.stories.tsx
  frontend/src/components/common/CommentInputModal/CommentInputModal.styles.tsx
  frontend/src/components/common/CommentInputModal/CommentInputModal.tsx
  frontend/src/components/common/ToastUiEditor/ToastUiEditor.stories.tsx
  frontend/src/components/common/ToastUiEditor/ToastUiEditor.tsx
  frontend/src/components/common/ToastUiViewer/ToastUiViewer.stories.tsx
  frontend/src/components/common/ToastUiViewer/ToastUiViewer.tsx
  frontend/src/mock/article.ts
  frontend/src/mock/search.ts
  frontend/src/pages/UpdateWriting/index.tsx
  frontend/src/pages/WritingArticles/index.tsx
  frontend/src/utils/validateInput.ts
Labels: 🌈 frontend, 💫 feat

#455 로그인, 마이페이지를 헤더에 보여주는것에서 드롭다운으로 변경한다.
  frontend/src/App.tsx
  frontend/src/components/common/Dropdown/Dropdown.styles.tsx
  frontend/src/components/common/Dropdown/Dropdown.tsx
  frontend/src/components/common/UserProfileIcon/UserProfileIcon.styles.tsx
  frontend/src/components/common/UserProfileIcon/UserProfileIcon.tsx
  frontend/src/components/layout/Header/Header.styles.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/components/layout/TabBar/TabBar.tsx
  frontend/src/store/dropdownState.ts
  frontend/src/styles/Theme.ts
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#505 불필요한 유저 정보 요청 api를 제거한다
  frontend/src/components/layout/TabBar/TabBar.tsx
Labels: 🐛 bug, 🌈 frontend

#508 webpack 번들링 용량을 최적화한다.
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/common/ArticleItem/ArticleItem.styles.tsx
  frontend/src/components/common/MenuSlider/MenuSlider.styles.tsx
  frontend/src/components/common/SearchBar/SearchBar.styles.tsx
  frontend/src/components/common/SortDropdown/SortDropdown.styles.tsx
  frontend/src/components/layout/TabBar/TabBar.styles.tsx
  frontend/src/constants/loginType.tsx
  frontend/src/pages/Detail/index.styles.tsx
  frontend/src/pages/Home/ArticleItem/ArticleItem.styles.tsx
  frontend/src/pages/Home/PopularArticle/PopularArticle.styles.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/pages/MyPage/UserArticleItem/UserArticleItem.styles.tsx
  frontend/src/pages/MyPage/UserItemBox/UserItemBox.styles.tsx
  frontend/src/pages/MyPage/UserProfile/UserProfile.styles.tsx
  frontend/src/pages/VoteGenerator/AddedOption/AddedOption.tsx
  frontend/src/pages/WritingArticles/index.styles.tsx
  frontend/src/styles/reset.tsx
  frontend/webpack/webpack.common.js
  frontend/webpack/webpack.dev.js
  frontend/webpack/webpack.prod.js
  frontend/yarn.lock
Labels: 🌈 frontend, ♻️ refactor

#487 게시물들이 가운데 정렬되도록 한다
  frontend/src/pages/CategoryArticles/CategoryArticles.styles.tsx
Labels: 🌈 frontend, 🎨 UI

#481 url을 상수화 한다
  frontend/src/App.tsx
  frontend/src/api/article.ts
  frontend/src/api/comments.ts
  frontend/src/api/hashTag.ts
  frontend/src/api/image.ts
  frontend/src/api/like.ts
  frontend/src/api/login.ts
  frontend/src/api/myPage.ts
  frontend/src/api/search.ts
  frontend/src/api/vote.ts
  frontend/src/components/common/ArticleContent/hooks/useDeleteArticleContent.tsx
  frontend/src/components/common/MenuSlider/MenuSlider.tsx
  frontend/src/components/helper/ErrorBoundary.tsx
  frontend/src/components/helper/PrivateRouter.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/components/layout/TabBar/TabBar.tsx
  frontend/src/constants/apiUrl.ts
  frontend/src/constants/categoryType.ts
  frontend/src/constants/url.ts
  frontend/src/mock/article.ts
  frontend/src/mock/comment.ts
  frontend/src/mock/hashTag.ts
  frontend/src/mock/like.ts
  frontend/src/mock/login.ts
  frontend/src/mock/myPage.ts
  frontend/src/mock/search.ts
  frontend/src/mock/vote.ts
  frontend/src/pages/CategoryArticles/CategoryArticles.tsx
  frontend/src/pages/Detail/index.tsx
  frontend/src/pages/Login/LoginController/LoginController.tsx
  frontend/src/pages/Login/RefreshTokenHandler/RefreshTokenHandler.tsx
  frontend/src/pages/VoteGenerator/index.tsx
Labels: 🌈 frontend, ♻️ refactor

#517 githubactions 수정
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/main.yml
Labels: ⚙️ chore

#521 dev환경 로그레벨 수정
  backend/src/main/resources/logback-spring.xml
Labels: 🔥 backend, ⚙️ chore

#502 DB 익명 기능 제거
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/Article.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryImpl.java
  backend/src/main/java/com/woowacourse/gongseek/comment/application/CommentService.java
  backend/src/main/java/com/woowacourse/gongseek/comment/domain/Comment.java
  backend/src/main/java/com/woowacourse/gongseek/member/domain/Member.java
  backend/src/main/java/com/woowacourse/gongseek/vote/application/VoteService.java
  backend/src/main/resources/application-test.yml
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/ArticleTest.java
  backend/src/test/java/com/woowacourse/gongseek/member/domain/MemberTest.java
Labels: 🔥 backend, ♻️ refactor

#513 flyway 적용
  backend/build.gradle
  backend/src/main/resources/application-test.yml
  backend/src/main/resources/db/migration/V0__init.ddl
Labels: 🔥 backend, 💫 feat

#526 flyway mysql 의존성 추가
  backend/build.gradle
Labels: 🐛 bug, 🔥 backend

#509 게시물 임시저장 기능을 구현한다
  backend/.gitignore
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/article/application/TempArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/Article.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/TempArticle.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/TempTags.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/TempArticleRepository.java
  backend/src/main/java/com/woowacourse/gongseek/article/exception/TempArticleNotFoundException.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/TempArticleController.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/ArticleRequest.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/TempArticleDetailResponse.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/TempArticleIdResponse.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/TempArticleResponse.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/TempArticlesResponse.java
  backend/src/main/java/com/woowacourse/gongseek/comment/application/CommentService.java
  backend/src/main/java/com/woowacourse/gongseek/comment/presentation/dto/CommentRequest.java
  backend/src/main/java/com/woowacourse/gongseek/common/exception/ExceptionType.java
  backend/src/main/resources/db/migration/V1__create_temp_article_table.sql
  backend/src/test/java/com/woowacourse/gongseek/acceptance/ArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/CommentAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/LikeAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/TagAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/TempArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/VoteAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/fixtures/ArticleFixture.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/fixtures/AuthFixture.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/fixtures/CommentFixture.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/fixtures/LikeFixture.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/fixtures/MemberFixture.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/fixtures/TagFixture.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/fixtures/TempArticleFixture.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/fixtures/VoteFixture.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/TempArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/TempArticleRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/ArticleControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/TempArticleControllerTest.java
Labels: 🔥 backend, 💫 feat

#539 flyway sql 파일에 불필요한 문자 제거
  backend/src/main/resources/db/migration/V1__create_temp_article_table.sql
Labels: 🐛 bug, 🔥 backend

#542 flyway version 초기 번호를 변경한다
  backend/src/main/resources/db/migration/V1__init.ddl
  backend/src/main/resources/db/migration/V2__create_temp_article_table.sql
Labels: 🐛 bug, 🔥 backend

#522 모바일 화면의 tabBar에서 유저의 프로필을 가운데 정렬한다
  frontend/src/components/common/UserProfileIcon/UserProfileIcon.styles.tsx
  frontend/src/components/common/UserProfileIcon/UserProfileIcon.tsx
  frontend/src/components/layout/Header/Header.styles.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/components/layout/TabBar/TabBar.styles.tsx
  frontend/src/components/layout/TabBar/TabBar.tsx
  frontend/src/constants/url.ts
Labels: 🐛 bug, 🌈 frontend

#537 Modal창에서 snackBar 가 보여지지 않는 것을 해결한다
  frontend/src/components/common/CommentInputModal/CommentInputModal.styles.tsx
  frontend/src/components/common/SnackBar/SnackBar.styles.tsx
  frontend/src/styles/Theme.ts
Labels: 🐛 bug, 🌈 frontend, 🎨 UI

#531 RefreshToken의 바뀐 API 명세에 따라 수정을 진행한다
  frontend/src/api/login.ts
Labels: 🌈 frontend, 💫 feat

#548 리프레시토큰 에러를 수정한다
  frontend/src/index.tsx
Labels: 🐛 bug, 🌈 frontend

#532 PageLayout을 가운데 정렬을 한다
  frontend/src/pages/CategorySelector/CategorySelector.styles.tsx
  frontend/src/pages/Inquire/index.styles.tsx
  frontend/src/pages/Login/index.styles.tsx
Labels: 🐛 bug, 🌈 frontend, 🎨 UI

#524 리프레시토큰이 유효하지 않을 경우, 로그인 페이지로 이동한다
  frontend/src/components/helper/ErrorBoundary.tsx
  frontend/src/pages/Login/RefreshTokenHandler/RefreshTokenHandler.tsx
  frontend/src/utils/deleteRefreshCookie.ts
Labels: 🐛 bug, 🌈 frontend

#482 투표 만료기간을 재설정한다.
  frontend/src/pages/VoteDeadlineGenerator/index.tsx
  frontend/src/utils/dateGenerator.ts
Labels: 🌈 frontend, 💫 feat

#483 투표 글 작성시 에러 메세지 보여주기
  frontend/src/pages/VoteGenerator/index.styles.tsx
  frontend/src/pages/VoteGenerator/index.tsx
  frontend/src/utils/validateInput.ts
Labels: 🌈 frontend

#550 투표의 옵션 UI를 변경한다.
  frontend/src/pages/VoteGenerator/AddedOption/AddedOption.tsx
Labels: 🌈 frontend, 💫 feat

#553 TabBar와 Header 부분이 클릭이 되지 않는다
  frontend/src/App.tsx
  frontend/src/components/helper/ErrorBoundary.tsx
Labels: 🐛 bug, 🌈 frontend

#554 hotfix 된 main 을 develop에 적용한다
  frontend/src/App.tsx
  frontend/src/components/helper/ErrorBoundary.tsx
Labels: 🌈 frontend, ⚙️ chore

#557 TabBar와 Header 부분이 클릭이 되지 않는다
  frontend/src/App.tsx
  frontend/src/components/helper/ErrorBoundary.tsx
Labels: 🐛 bug, 🌈 frontend

#558 hotfix 적용된 코드 develop에 반영
  frontend/src/App.tsx
  frontend/src/components/helper/ErrorBoundary.tsx
Labels: 🌈 frontend

#561 투표 아이템 수가 잘못된 경우 예외코드를 수정한다
  backend/src/main/java/com/woowacourse/gongseek/vote/presentation/VoteController.java
  backend/src/main/java/com/woowacourse/gongseek/vote/presentation/dto/VoteCreateRequest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/VoteAcceptanceTest.java
Labels: 🐛 bug, 🔥 backend, ♻️ refactor

#523 임시 저장글을 보여줄 Item 컴포넌트를 만든다
  frontend/src/pages/TemporaryArticles/TemporaryArticleItem/TemporaryArticleItem.styles.tsx
  frontend/src/pages/TemporaryArticles/TemporaryArticleItem/TemporaryArticleItem.tsx
  frontend/src/storybook/Article/TemporaryArticleItem.stories.tsx
  frontend/src/utils/converter.ts
Labels: 🌈 frontend, 🎨 UI

#555 로그아웃 기능을 구현한다.
  backend/src/docs/asciidoc/auth.adoc
  backend/src/main/java/com/woowacourse/gongseek/auth/presentation/AuthController.java
  backend/src/main/java/com/woowacourse/gongseek/auth/utils/CookieUtils.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/fixtures/AuthFixture.java
  backend/src/test/java/com/woowacourse/gongseek/auth/presentation/AuthControllerTest.java
  backend/src/test/resources/application-invalid.yml
  backend/src/test/resources/application.yml
Labels: 🔥 backend, 💫 feat

#583 임시 게시글 저장 시 시간 생성되지 않는 문제 해결, 테스트를 위한 생성자 삭제
  backend/src/main/java/com/woowacourse/gongseek/article/domain/TempArticle.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/TempArticleDetailResponse.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/TempArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/VoteAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/TempArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/TempArticleRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/TempArticleControllerTest.java
Labels: 🔥 backend, ♻️ refactor

#584 투표글 최대 길이를 500 -> 300으로 변경
  backend/src/main/java/com/woowacourse/gongseek/common/exception/ExceptionType.java
  backend/src/main/java/com/woowacourse/gongseek/vote/domain/Content.java
  backend/src/main/resources/db/migration/V4__modify_vote_content_column.sql
  backend/src/test/java/com/woowacourse/gongseek/vote/domain/ContentTest.java
Labels: 🔥 backend, ♻️ refactor

#577 문의하기에 대한 스토리북 작성
  frontend/src/storybook/Inquire/Inquire.stories.tsx
Labels: 🌈 frontend, 💫 feat

#588 임시 게시글 응답 데이터 카테고리 정보 추가
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/TempArticleResponse.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/TempArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/TempArticleControllerTest.java
Labels: 🔥 backend, ♻️ refactor

#590 리프레시 토큰 발급할 때, 액유효하지 않는 액세스토큰 에러 코드 추가
  backend/src/main/java/com/woowacourse/gongseek/auth/application/TokenProvider.java
  backend/src/main/java/com/woowacourse/gongseek/auth/exception/InvalidAccessTokenAtRenewException.java
  backend/src/main/java/com/woowacourse/gongseek/auth/infra/JwtTokenProvider.java
  backend/src/main/java/com/woowacourse/gongseek/auth/presentation/RefreshTokenInterceptor.java
  backend/src/main/java/com/woowacourse/gongseek/common/exception/ExceptionType.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/auth/presentation/AuthControllerTest.java
Labels: 🔥 backend, ♻️ refactor

#596 임시 게시글 업데이트 시 발생하는 오류 수정
  backend/src/main/java/com/woowacourse/gongseek/article/domain/TempArticle.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/TempTags.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/TempArticleDetailResponse.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/TempArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/support/fixtures/TempArticleFixture.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/TempArticleServiceTest.java
Labels: 🔥 backend, ♻️ refactor

#598 로그 수정 및 요청 로그 추가
  backend/src/main/java/com/woowacourse/gongseek/auth/presentation/AuthenticationInterceptor.java
  backend/src/main/resources/logback-spring.xml
Labels: 🔥 backend, 🗃 infra, ♻️ refactor

#566 에러코드에 대한 에러처리하기
  frontend/src/components/helper/CommonErrorBoundary.tsx
  frontend/src/components/helper/ErrorBoundary.tsx
  frontend/src/components/helper/FallbackErrorBoundary.tsx
  frontend/src/components/helper/LogicErrorBoundary.tsx
  frontend/src/components/helper/types/ErrorBoundary.type.ts
  frontend/src/constants/ErrorMessage.ts
  frontend/src/hooks/article/useDeleteArticleContent.tsx
  frontend/src/hooks/article/useGetAllArticles.tsx
  frontend/src/hooks/article/useGetCategoryArticles.tsx
  frontend/src/hooks/article/useGetDetailArticle.tsx
  frontend/src/hooks/article/useGetPopularArticles.tsx
  frontend/src/hooks/article/useHeartClick.tsx
  frontend/src/hooks/article/usePostUpdateWritingArticle.tsx
  frontend/src/hooks/article/usePostWritingArticles.tsx
  frontend/src/hooks/comment/useDeleteComment.tsx
  frontend/src/hooks/comment/useGetDetailComment.tsx
  frontend/src/hooks/comment/usePostCommentInputModal.tsx
  frontend/src/hooks/comment/usePutCommentInputModal.tsx
  frontend/src/hooks/common/useThrowCustomError.tsx
  frontend/src/hooks/hashTag/useGetAllHashTags.tsx
  frontend/src/hooks/hashTag/useGetArticleByHashTag.tsx
  frontend/src/hooks/login/useGetLoginURL.tsx
  frontend/src/hooks/search/useGetSearch.tsx
  frontend/src/hooks/user/useGetUserArticles.tsx
  frontend/src/hooks/user/useGetUserComments.tsx
  frontend/src/hooks/user/useGetUserInfo.tsx
  frontend/src/hooks/user/usePutUserProfile.tsx
  frontend/src/hooks/vote/useGetVote.tsx
  frontend/src/hooks/vote/usePostVoteItem.tsx
  frontend/src/index.tsx
  frontend/src/pages/Login/RefreshTokenHandler/RefreshTokenHandler.tsx
  frontend/src/pages/VoteDeadlineGenerator/index.tsx
  frontend/src/utils/confirmErrorType.ts
  frontend/src/utils/withHooksHOC.tsx
Labels: 🌈 frontend, 💫 feat

#603 모니터링을 위한 로그 추가
  backend/src/main/java/com/woowacourse/gongseek/auth/presentation/AuthenticationInterceptor.java
Labels: 🔥 backend, ♻️ refactor

#607 flyway적용
  backend/src/main/resources/db/migration/V6__delete_vote_in_votehistory.sql
Labels: 🐛 bug, 🔥 backend

#610 임시 게시글 api 문서화
  backend/src/docs/asciidoc/tempArticle.adoc
Labels: 📝 docs, 🔥 backend, 💫 feat

#544 github image에 대한 리사이징을 진행한다.
  frontend/src/components/common/ArticleItem/ArticleItem.tsx
  frontend/src/components/common/Comment/Comment.tsx
  frontend/src/pages/Home/ArticleItem/ArticleItem.tsx
  frontend/src/pages/MyPage/UserProfile/UserProfile.tsx
  frontend/src/utils/converter.ts
Labels: 🌈 frontend, 💫 feat

#591 임시저장 페이지를 만든다
  frontend/src/App.tsx
  frontend/src/api/tempArticle.ts
  frontend/src/components/helper/LogicErrorBoundary.tsx
  frontend/src/constants/url.ts
  frontend/src/hooks/article/usePostWritingArticles.tsx
  frontend/src/hooks/tempArticle/useDeleteTempArticle.tsx
  frontend/src/hooks/tempArticle/useGetTempArticles.tsx
  frontend/src/hooks/tempArticle/useGetTempDetailArticles.tsx
  frontend/src/hooks/tempArticle/usePostTempArticle.tsx
  frontend/src/pages/MyPage/index.styles.tsx
  frontend/src/pages/MyPage/index.tsx
  frontend/src/pages/TemporaryArticles/TemporaryArticleItem/TemporaryArticleItem.tsx
  frontend/src/pages/TemporaryArticles/TemporaryArticleList/TemporaryArticleList.styles.tsx
  frontend/src/pages/TemporaryArticles/TemporaryArticleList/TemporaryArticleList.tsx
  frontend/src/pages/TemporaryArticles/index.styles.tsx
  frontend/src/pages/TemporaryArticles/index.tsx
  frontend/src/pages/WritingArticles/index.styles.tsx
  frontend/src/pages/WritingArticles/index.tsx
  frontend/src/pages/WritingTempArticle/index.tsx
  frontend/src/types/articleResponse.ts
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#586 반응형 커버를 올린다.
  frontend/src/App.tsx
  frontend/src/components/common/ArticleItem/ArticleItem.styles.tsx
  frontend/src/components/common/CommentInputModal/CommentInputModal.styles.tsx
  frontend/src/components/common/SearchBar/SearchBar.styles.tsx
  frontend/src/components/common/SortDropdown/SortDropdown.styles.tsx
  frontend/src/components/layout/Header/Header.styles.tsx
  frontend/src/components/layout/TabBar/TabBar.styles.tsx
  frontend/src/pages/CategoryArticles/CategoryArticles.styles.tsx
  frontend/src/pages/DiscussionDetail/VoteGenerateButton/VoteGenerateButton.tsx
  frontend/src/pages/HashTagSearch/HashTagSearchResult/HashTagSearchResult.styles.tsx
  frontend/src/pages/Home/index.styles.tsx
  frontend/src/pages/MyPage/UserItemBox/UserItemBox.styles.tsx
  frontend/src/pages/MyPage/index.styles.tsx
  frontend/src/pages/Search/SearchResult/SearchResult.styles.tsx
  frontend/src/pages/VoteDeadlineGenerator/index.styles.tsx
  frontend/src/pages/VoteGenerator/AddedOption/AddedOption.tsx
  frontend/src/pages/VoteGenerator/index.styles.tsx
  frontend/src/pages/WritingArticles/index.styles.tsx
  frontend/src/styles/Theme.ts
  frontend/src/styles/reset.tsx
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#601 1010번에러에 대한 에러처리 로직 수정
  frontend/src/components/helper/LogicErrorBoundary.tsx
  frontend/src/utils/confirmErrorType.ts
Labels: 🐛 bug, 🌈 frontend

#611 로그인이 되지 않은 상태로 check-login 페이지로 이동되지 못하게 한다
  frontend/src/App.tsx
Labels: 🐛 bug, 🌈 frontend

#581 투표에 대한 UI를 수정한다.
  frontend/src/pages/VoteGenerator/AddedOption/AddedOption.tsx
  frontend/src/pages/VoteGenerator/index.styles.tsx
  frontend/src/pages/VoteGenerator/index.tsx
  frontend/src/utils/validateInput.ts
Labels: 🌈 frontend, ♻️ refactor

#463 accessToken의 이름을 변경한다.
  frontend/src/api/article.ts
  frontend/src/api/comments.ts
  frontend/src/api/hashTag.ts
  frontend/src/api/image.ts
  frontend/src/api/like.ts
  frontend/src/api/login.ts
  frontend/src/api/myPage.ts
  frontend/src/api/search.ts
  frontend/src/api/tempArticle.ts
  frontend/src/api/vote.ts
  frontend/src/components/common/Dropdown/Dropdown.tsx
  frontend/src/components/common/MenuSlider/MenuSlider.tsx
  frontend/src/components/helper/LogicErrorBoundary.tsx
  frontend/src/constants/index.ts
  frontend/src/pages/Login/LoginController/LoginController.tsx
  frontend/src/pages/Login/RefreshTokenHandler/RefreshTokenHandler.tsx
  frontend/src/store/userState.ts
Labels: 🌈 frontend, 💫 feat

#614 서버에러 페이지를 변경한다.
  frontend/src/index.tsx
  frontend/src/pages/ServerErrorPage/index.stories.tsx
  frontend/src/pages/ServerErrorPage/index.styles.tsx
  frontend/src/pages/ServerErrorPage/index.tsx
Labels: 🌈 frontend, 💫 feat

#617 투표 조회 안되는 버그 수정
  backend/src/main/java/com/woowacourse/gongseek/auth/infra/JwtTokenProvider.java
  backend/src/main/java/com/woowacourse/gongseek/auth/presentation/RefreshTokenInterceptor.java
  backend/src/main/java/com/woowacourse/gongseek/common/exception/ExceptionType.java
  backend/src/main/java/com/woowacourse/gongseek/vote/application/VoteService.java
  backend/src/main/java/com/woowacourse/gongseek/vote/domain/repository/VoteHistoryRepository.java
  backend/src/main/java/com/woowacourse/gongseek/vote/domain/repository/VoteHistoryRepositoryImpl.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/auth/presentation/AuthControllerTest.java
Labels: 🐛 bug, 🔥 backend

#622 검색시 응답이 오기전에 reload가 되는 문제를 해결한다.
  frontend/src/components/layout/Header/Header.tsx
Labels: 🐛 bug, 🌈 frontend

#624 프론트 개발 도메인 주소 CORS 추가
  image-storage/src/main/java/com/gongseek/imagestorage/config/WebConfig.java
Labels: 🔥 backend, ♻️ refactor

#626 글 작성 페이지에서 새로고침을 막는다
  frontend/src/pages/WritingArticles/index.tsx
Labels: 🌈 frontend, 💫 feat

#630 검색결과가 없을시 서버에러가 발생하는것 수정
  frontend/src/api/search.ts
Labels: 🐛 bug, 🌈 frontend

#632 유저에 대한 검색 결과가 없을 때에 페이지가 보이지 않는 것에 대해 수정한다
  frontend/src/api/search.ts
Labels: 🐛 bug, 🌈 frontend

#634 UI 버그에 대해서 대응한다
  frontend/src/pages/ServerErrorPage/index.styles.tsx
  frontend/src/pages/ServerErrorPage/index.tsx
  frontend/src/pages/TemporaryArticles/TemporaryArticleList/TemporaryArticleList.tsx
  frontend/src/pages/UpdateWriting/index.tsx
  frontend/src/pages/WritingArticles/index.tsx
Labels: 🐛 bug, 🌈 frontend

#637 토론, 질문 카테고리에서 좋아요 순으로 정렬이 되도록 한다
  frontend/src/api/article.ts
  frontend/src/hooks/article/useGetCategoryArticles.tsx
Labels: 🐛 bug, 🌈 frontend

#638 hotfix된 코드들을 develop에 반영한다
  frontend/src/api/article.ts
  frontend/src/api/search.ts
  frontend/src/hooks/article/useGetCategoryArticles.tsx
  frontend/src/pages/ServerErrorPage/index.styles.tsx
  frontend/src/pages/ServerErrorPage/index.tsx
  frontend/src/pages/TemporaryArticles/TemporaryArticleList/TemporaryArticleList.tsx
  frontend/src/pages/UpdateWriting/index.tsx
  frontend/src/pages/WritingArticles/index.tsx
Labels: 🌈 frontend, 🔥 backend

#651 JPQL에 @Param을 추가한다
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepository.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/TempArticleRepository.java
  backend/src/main/java/com/woowacourse/gongseek/comment/domain/repository/CommentRepository.java
Labels: 🔥 backend, ♻️ refactor

#656 유틸로 작성한 타입 모듈들을 프로젝트에 적용한다.
  frontend/package.json
  frontend/src/components/common/InfiniteScrollObserver/InfiniteScrollObserver.tsx
  frontend/src/components/common/SnackBar/SnackBar.tsx
  frontend/src/components/helper/CommonErrorBoundary.tsx
  frontend/src/components/helper/FallbackErrorBoundary.tsx
  frontend/src/components/helper/LogicErrorBoundary.tsx
  frontend/src/components/helper/types/ErrorBoundary.type.ts
  frontend/src/pages/Detail/index.tsx
  frontend/src/pages/Login/LoginButton/LoginButton.tsx
  frontend/src/pages/MyPage/UserItemBox/UserItemBox.tsx
  frontend/src/pages/VoteGenerator/AddedOption/AddedOption.tsx
  frontend/src/storybook/Login/LoginButton.stories.tsx
  frontend/src/storybook/Pages/Detail.stories.tsx
  frontend/src/storybook/User/UserItemBox.stories.tsx
  frontend/src/storybook/Vote/AddedOption.stories.tsx
  frontend/src/utils/dateGenerator.ts
  frontend/yarn.lock
Labels: 🌈 frontend, 💫 feat

#613 로그아웃을 구현한다
  frontend/src/api/login.ts
  frontend/src/components/common/Dropdown/Dropdown.tsx
  frontend/src/components/common/MenuSlider/MenuSlider.tsx
  frontend/src/components/helper/LogicErrorBoundary.tsx
  frontend/src/components/helper/types/ErrorBoundary.type.ts
  frontend/src/hooks/login/useDeleteRefreshToken.tsx
  frontend/src/utils/withHooksHOC.tsx
Labels: 🌈 frontend, 💫 feat

#661 투표 조회 시 회원 존재 여부 거치지 않도록 수정
  backend/src/main/java/com/woowacourse/gongseek/vote/application/VoteService.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/VoteAcceptanceTest.java
Labels: 🐛 bug, 🔥 backend

#669 2001번 에러메시지를 변경한다.
  frontend/src/constants/ErrorMessage.ts
Labels: 🌈 frontend, 💫 feat

#653 레디스를 적용한다.
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/woowacourse/gongseek/article/domain/Article.java
  backend/src/main/java/com/woowacourse/gongseek/auth/application/AuthService.java
  backend/src/main/java/com/woowacourse/gongseek/auth/domain/RefreshToken.java
  backend/src/main/java/com/woowacourse/gongseek/auth/domain/repository/RefreshTokenRepository.java
  backend/src/main/java/com/woowacourse/gongseek/comment/domain/Comment.java
  backend/src/main/java/com/woowacourse/gongseek/common/domain/BaseTimeEntity.java
  backend/src/main/java/com/woowacourse/gongseek/common/exception/ExceptionType.java
  backend/src/main/java/com/woowacourse/gongseek/config/EmbeddedRedisConfig.java
  backend/src/main/java/com/woowacourse/gongseek/config/RedisConfig.java
  backend/src/main/java/com/woowacourse/gongseek/config/exception/NotFoundProcessException.java
  backend/src/main/resources/db/migration/V3__create_refresh_token_table.sql
  backend/src/main/resources/db/migration/V4__modify_vote_content_column.sql
  backend/src/main/resources/logging/file-access-appender.xml
  backend/src/test/java/com/woowacourse/gongseek/acceptance/InvalidJwtAuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/auth/domain/repository/RefreshTokenRepositoryTest.java
  backend/src/test/resources/application-invalidToken.yml
  backend/src/test/resources/application.yml
Labels: 🔥 backend, 💫 feat

#677 flyway에 drop table refreshToken 반영
  backend/src/main/resources/db/migration/V7__drop_refresh_token_table.sql
Labels: 🐛 bug, 🔥 backend

#681 로그아웃하면 디비에서 리프레시 토큰의 변경사항을 반영한다.
  backend/src/main/java/com/woowacourse/gongseek/auth/application/AuthService.java
  backend/src/main/java/com/woowacourse/gongseek/auth/presentation/AuthController.java
  backend/src/test/java/com/woowacourse/gongseek/auth/application/AuthServiceTest.java
Labels: 🔥 backend, ♻️ refactor

#672 1009번에 대한 에러 핸들링을 변경한다.
  frontend/src/utils/confirmErrorType.ts
Labels: 🐛 bug, 🌈 frontend
