Repository woowacourse-teams/2022-gong-seek, pull requests merged in 2022-10, with the labels that each got.

#665 데스크탑 화면에서 MenuSlider가 안보이도록 한다.
  frontend/src/App.tsx
  frontend/src/components/common/MenuSlider/MenuSlider.styles.tsx
  frontend/src/components/common/MenuSlider/MenuSlider.tsx
  frontend/webpack/webpack.dev.js
Labels: 🌈 frontend, 💫 feat

#692 검색결과나 마이페이지 게시글 조회 페이지에서 글이 없을 때에 보여줄 컴포넌트 그리기
  frontend/src/components/common/EmptyMessage/EmptyMessage.styles.tsx
  frontend/src/components/common/EmptyMessage/EmptyMessage.tsx
  frontend/src/pages/CategoryArticles/CategoryArticles.styles.tsx
  frontend/src/pages/CategoryArticles/CategoryArticles.tsx
  frontend/src/pages/HashTagSearch/index.tsx
  frontend/src/pages/Home/PopularArticle/PopularArticle.styles.tsx
  frontend/src/pages/Home/PopularArticle/PopularArticle.tsx
  frontend/src/pages/Home/index.styles.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/pages/MyPage/index.tsx
  frontend/src/pages/Search/SearchResult/SearchResult.tsx
  frontend/src/pages/TemporaryArticles/TemporaryArticleList/TemporaryArticleList.styles.tsx
  frontend/src/pages/TemporaryArticles/TemporaryArticleList/TemporaryArticleList.tsx
  frontend/src/storybook/Common/EmptyMessage.stories.tsx
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#666 임시저장 게시글 제목이 길면 삭제버튼이 보이지 않는 에러를 수정한다
  frontend/src/pages/CategoryArticles/CategoryArticles.tsx
  frontend/src/pages/MyPage/UserArticleItem/UserArticleItem.tsx
  frontend/src/pages/MyPage/UserCommentBox/UserCommentBox.tsx
  frontend/src/pages/TemporaryArticles/TemporaryArticleItem/TemporaryArticleItem.styles.tsx
  frontend/src/pages/TemporaryArticles/TemporaryArticleItem/TemporaryArticleItem.tsx
  frontend/src/pages/TemporaryArticles/TemporaryArticleList/TemporaryArticleList.styles.tsx
  frontend/src/pages/TemporaryArticles/TemporaryArticleList/TemporaryArticleList.tsx
  frontend/src/pages/TemporaryArticles/index.styles.tsx
  frontend/src/styles/Theme.ts
  frontend/src/utils/converter.ts
Labels: 🌈 frontend, 🎨 UI

#697 Like 삭제 수정 및 redis server 설정 추가
  backend/src/main/java/com/woowacourse/gongseek/config/EmbeddedRedisConfig.java
  backend/src/main/java/com/woowacourse/gongseek/like/application/LikeService.java
  backend/src/main/java/com/woowacourse/gongseek/like/domain/repository/LikeRepository.java
Labels: 🔥 backend, ♻️ refactor

#699 embedded redis version 변경
  backend/build.gradle
  backend/src/main/java/com/woowacourse/gongseek/config/EmbeddedRedisConfig.java
  backend/src/main/java/com/woowacourse/gongseek/config/RedisConfig.java
Labels: 🔥 backend, ⚙️ chore

#690 로그인 중일 때에 보여줄 컴포넌트 그리기
  frontend/src/pages/Login/LoginController/LoginController.tsx
  frontend/src/pages/Login/LoginLoading/LoginLoading.styles.tsx
  frontend/src/pages/Login/LoginLoading/LoginLoading.tsx
  frontend/src/pages/Login/RefreshTokenHandler/RefreshTokenHandler.tsx
  frontend/src/storybook/Login/LoginLoading.stories.tsx
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#663 DropDown의 정렬되지 않은 텍스트들을 정렬한다.
  frontend/src/api/article.ts
  frontend/src/components/common/ArticleItem/ArticleItem.styles.tsx
  frontend/src/components/common/SortDropdown/SortDropdown.styles.tsx
  frontend/src/pages/CategoryArticles/CategoryArticles.tsx
  frontend/src/pages/Discussion/Vote/Vote.styles.tsx
  frontend/src/pages/Home/index.styles.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/styles/Theme.ts
  frontend/src/utils/converter.ts
Labels: 🌈 frontend, 💫 feat

#706 Card, CardList 컴포넌트로 ArticleItem과 ArticleList 추상화하기
  frontend/src/components/common/ArticleContent/ArticleContent.tsx
  frontend/src/components/common/ArticleItem/ArticleItem.styles.tsx
  frontend/src/components/common/ArticleItem/ArticleItem.tsx
  frontend/src/components/common/Card/Card.styles.tsx
  frontend/src/components/common/Card/Card.tsx
  frontend/src/components/common/Comment/Comment.tsx
  frontend/src/components/common/HashTag/HashTag.tsx
  frontend/src/components/common/InfiniteScrollObserver/InfiniteScrollObserver.tsx
  frontend/src/components/common/ResponsiveInfiniteCardList/ResponsiveInfiniteCardList.styles.tsx
  frontend/src/components/common/ResponsiveInfiniteCardList/ResponsiveInfiniteCardList.tsx
  frontend/src/components/layout/PageLayout/PageLayout.tsx
  frontend/src/pages/CategoryArticles/CategoryArticles.styles.tsx
  frontend/src/pages/CategoryArticles/CategoryArticles.tsx
  frontend/src/pages/CategorySelector/CategorySelector.tsx
  frontend/src/pages/HashTagSearch/HashTagSearchResult/HashTagSearchResult.styles.tsx
  frontend/src/pages/HashTagSearch/HashTagSearchResult/HashTagSearchResult.tsx
  frontend/src/pages/Home/PopularArticle/PopularArticle.tsx
  frontend/src/pages/Home/PopularArticleItem/PopularArticleItem.styles.tsx
  frontend/src/pages/Home/PopularArticleItem/PopularArticleItem.tsx
  frontend/src/pages/Home/index.styles.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/pages/Inquire/index.tsx
  frontend/src/pages/Login/index.tsx
  frontend/src/pages/MyPage/UserProfile/UserProfile.tsx
  frontend/src/pages/Search/SearchResult/SearchResult.styles.tsx
  frontend/src/pages/Search/SearchResult/SearchResult.tsx
  frontend/src/pages/UpdateWriting/index.tsx
  frontend/src/pages/WritingArticles/index.styles.tsx
  frontend/src/pages/WritingArticles/index.tsx
  frontend/src/storybook/Common/Card.stories.tsx
  frontend/src/styles/Theme.ts
  frontend/src/styles/cardStyle.ts
  frontend/src/types/card.ts
  frontend/src/types/emotion.d.ts
  frontend/src/utils/converter.ts
Labels: 🌈 frontend, ♻️ refactor

#713 임시 게시글 제목 길이가 최대 500자까지 가능하도록 변경
  backend/src/main/java/com/woowacourse/gongseek/article/domain/Title.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/TempArticleRepositoryTest.java
Labels: 🐛 bug, 🔥 backend

#680 모바일에서 글 작성시 포커스를 수정한다.
  frontend/src/components/helper/LogicErrorBoundary.tsx
  frontend/src/components/layout/Header/Header.styles.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/hooks/common/useHandleHeaderByScroll.tsx
  frontend/src/hooks/common/useInterval.tsx
  frontend/src/hooks/common/useScroll.tsx
  frontend/src/utils/scrollObserver.ts
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#715 임시 게시글 제목 길이 변경 flyway 적용
  backend/src/main/resources/db/migration/V7__modify_temp_article_tittle_column.sql
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/TempArticleRepositoryTest.java
Labels: 🔥 backend, ♻️ refactor

#701 hikari cp log 추가
  backend/src/main/resources/logback-spring.xml
Labels: 🔥 backend, ♻️ refactor

#718 logback ref name 수정
  backend/src/main/resources/logback-spring.xml
Labels: 🔥 backend

#719 테스트 코드에서 컨텍스트 캐싱 사용하도록 적용
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/TempArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/ArticleControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/TempArticleControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/auth/application/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/auth/presentation/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/comment/application/CommentServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/comment/presentation/CommentControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/like/application/LikeServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/like/presentation/LikeControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/member/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/member/presentation/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/support/ControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/support/IntegrationTest.java
  backend/src/test/java/com/woowacourse/gongseek/tag/application/TagServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/tag/presentation/TagControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/vote/application/VoteServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/vote/presentation/VoteControllerTest.java
Labels: 🔥 backend, ✅ test, ♻️ refactor

#693 N+1 문제 해결
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/Article.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/articletag/ArticleTag.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/articletag/ArticleTags.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepository.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryCustom.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryImpl.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/PagingArticleRepository.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/PagingArticleRepositoryImpl.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/dto/ArticleDto.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/dto/ArticlePreviewDto.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/dto/MyPageArticleDto.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/ArticleController.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/ArticlePageResponse.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/ArticlePreviewResponse.java
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/ArticleResponse.java
  backend/src/main/java/com/woowacourse/gongseek/auth/presentation/AuthenticationInterceptor.java
  backend/src/main/java/com/woowacourse/gongseek/comment/domain/repository/CommentRepository.java
  backend/src/main/java/com/woowacourse/gongseek/comment/presentation/dto/CommentResponse.java
  backend/src/main/java/com/woowacourse/gongseek/like/domain/repository/LikeRepository.java
  backend/src/main/java/com/woowacourse/gongseek/member/application/MemberService.java
  backend/src/main/java/com/woowacourse/gongseek/member/domain/Member.java
  backend/src/main/java/com/woowacourse/gongseek/member/presentation/dto/AuthorDto.java
  backend/src/main/java/com/woowacourse/gongseek/member/presentation/dto/MyPageArticlesResponse.java
  backend/src/main/java/com/woowacourse/gongseek/tag/application/TagService.java
  backend/src/main/java/com/woowacourse/gongseek/tag/domain/Tags.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/ArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/LikeAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/ArticleTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryCustomTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/PagingArticleRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/presentation/ArticleControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/comment/application/CommentServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/comment/domain/repository/CommentRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/like/presentation/LikeControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/member/presentation/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/support/RedisContainerTest.java
  backend/src/test/java/com/woowacourse/gongseek/support/RepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/tag/application/TagServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/tag/presentation/TagControllerTest.java
Labels: 🔥 backend, ♻️ refactor

#749 서버에러페이지에서 홈으로 가기 버튼을 눌렀을 때에 리프레쉬되도록 수정한다
  frontend/src/pages/ServerErrorPage/index.tsx
Labels: 🐛 bug, 🌈 frontend

#750 비회원일때 하트가 눌러져 있는 오류를 수정한다
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/ArticleRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/gongseek/article/domain/repository/PagingArticleRepositoryImpl.java
Labels: 🐛 bug, 🔥 backend

#705 웹팩 빌드속도를 향상 시킨다.
  frontend/package.json
  frontend/src/pages/VoteGenerator/index.styles.tsx
  frontend/src/pages/WritingArticles/index.styles.tsx
  frontend/src/storybook/Article/ArticleContent.stories.tsx
  frontend/src/storybook/Article/ArticleItem.stories.tsx
  frontend/src/storybook/Article/TemporaryArticleItem.stories.tsx
  frontend/src/storybook/Article/ToastUiEditor.stories.tsx
  frontend/src/storybook/HashTag/HashTagSearchResult.stories.tsx
  frontend/src/storybook/Search/SearchBar.stories.tsx
  frontend/src/storybook/Vote/Vote.stories.tsx
  frontend/src/storybook/Vote/VoteItem.stories.tsx
  frontend/webpack/webpack.common.js
  frontend/webpack/webpack.dev.js
  frontend/webpack/webpack.prod.js
  frontend/yarn.lock
Labels: 🌈 frontend, ⚙️ chore

#753 develop모드에서 build가 실패하는 것을 고친다
  frontend/src/storybook/Common/Card.stories.tsx
Labels: 🐛 bug, 🌈 frontend

#755 웹팩 설정을 변경하여 build시 에러를 방지한다
  frontend/tsconfig.json
Labels: 🐛 bug, 🌈 frontend

#739 Style 파일내에서 theme을 3개이상 사용하는 곳에서는 묶어서 표현한다
  frontend/src/components/@common/AnonymousCheckBox/AnonymousCheckBox.styles.tsx
  frontend/src/components/@common/Dropdown/Dropdown.styles.tsx
  frontend/src/components/@common/Loading/Loading.styles.tsx
  frontend/src/components/@common/MenuSlider/MenuSlider.styles.tsx
  frontend/src/components/@common/SnackBar/SnackBar.styles.tsx
  frontend/src/components/@common/SortDropdown/SortDropdown.styles.tsx
  frontend/src/components/@layout/Header/Header.styles.tsx
  frontend/src/components/@layout/TabBar/TabBar.styles.tsx
  frontend/src/components/article/ArticleContent/ArticleContent.styles.tsx
  frontend/src/components/article/ArticleItem/ArticleItem.styles.tsx
  frontend/src/components/article/PopularArticle/PopularArticle.styles.tsx
  frontend/src/components/article/PopularArticleItem/PopularArticleItem.styles.tsx
  frontend/src/components/comment/Comment/Comment.styles.tsx
  frontend/src/components/comment/CommentContent/CommentContent.styles.tsx
  frontend/src/components/comment/CommentContent/CommentContent.tsx
  frontend/src/components/comment/CommentInputModal/CommentInputModal.styles.tsx
  frontend/src/components/hashTag/HashTag/HashTag.styles.tsx
  frontend/src/components/hashTag/HashTagSearchBox/HashTagSearchBox.styles.tsx
  frontend/src/components/login/LoginButton/LoginButton.styles.tsx
  frontend/src/components/search/SearchBar/SearchBar.styles.tsx
  frontend/src/components/search/SearchResult/SearchResult.styles.tsx
  frontend/src/components/tempArticle/TemporaryArticleItem/TemporaryArticleItem.styles.tsx
  frontend/src/components/tempArticle/TemporaryArticleList/TemporaryArticleList.styles.tsx
  frontend/src/components/user/MyCategoryTab/MyCategoryTab.styles.tsx
  frontend/src/components/user/UserArticleItem/UserArticleItem.styles.tsx
  frontend/src/components/user/UserCommentItem/UserCommentItem.styles.tsx
  frontend/src/components/user/UserProfile/UserProfile.styles.tsx
  frontend/src/components/vote/Vote/Vote.styles.tsx
  frontend/src/components/vote/VoteItem/VoteItem.styles.tsx
  frontend/src/hooks/article/useDetailArticleState.tsx
  frontend/src/hooks/hashTag/useHandleHashTagState.tsx
  frontend/src/pages/CategorySelector/CategorySelector.styles.tsx
  frontend/src/pages/Detail/index.styles.tsx
  frontend/src/pages/Detail/index.tsx
  frontend/src/pages/HashTagSearch/index.tsx
  frontend/src/pages/Inquire/index.styles.tsx
  frontend/src/pages/MyPage/index.styles.tsx
  frontend/src/pages/NotFound/index.styles.tsx
  frontend/src/pages/ServerErrorPage/index.styles.tsx
  frontend/src/pages/VoteDeadlineGenerator/index.styles.tsx
  frontend/src/pages/VoteGenerator/index.styles.tsx
  frontend/src/pages/WritingArticles/index.styles.tsx
  frontend/src/styles/Theme.ts
Labels: 🌈 frontend, ♻️ refactor

#757 웹팩 cache관련 설정을 수정한다
  frontend/tsconfig.json
  frontend/webpack/webpack.common.js
  frontend/webpack/webpack.dev.js
  frontend/webpack/webpack.prod.js
  frontend/yarn.lock
Labels: 🐛 bug, 🌈 frontend

#760 Theme의 size등의 선언 부분을 바꾸어준다
  frontend/src/styles/Theme.ts
Labels: 🐛 bug, 🌈 frontend

#758 외부 api는 트랜잭션을 물지않도록 수정했습니다.
  backend/src/main/java/com/woowacourse/gongseek/auth/application/AuthService.java
  backend/src/main/java/com/woowacourse/gongseek/auth/infra/GithubOAuthClient.java
  backend/src/main/java/com/woowacourse/gongseek/auth/presentation/AuthController.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/TempArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/auth/application/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/auth/presentation/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/gongseek/support/ControllerTest.java
Labels: 🔥 backend, 💫 feat

#768 Theme 통합이후 어긋난 스타일링들를 수정한다
  frontend/src/components/@common/Card/Card.styles.tsx
  frontend/src/components/@common/SortDropdown/SortDropdown.styles.tsx
  frontend/src/components/login/LoginButton/LoginButton.styles.tsx
  frontend/src/pages/WritingArticles/index.styles.tsx
Labels: 🐛 bug, 🌈 frontend

#765 develop모드에서 ts-loader에서 babel-loader로 교체한다
  frontend/webpack/webpack.dev.js
Labels: 🐛 bug, 🌈 frontend

#771 유효하지 않은 리프레쉬 토큰에 대한 처리를 변경한다.
  frontend/src/components/@helper/errorBoundary/LogicErrorBoundary.tsx
Labels: 🐛 bug, 🌈 frontend

#536 README.md 생성하기
  README.md
Labels: 📝 docs

#732 게시글 자세히 보기에서 수정 , 삭제 버튼이 잘 보이도록 UI 수정하기
  frontend/src/components/article/ArticleContent/ArticleContent.styles.tsx
  frontend/src/components/article/ArticleContent/ArticleContent.tsx
  frontend/src/components/tempArticle/TemporaryArticleItem/TemporaryArticleItem.styles.tsx
  frontend/src/pages/Detail/index.styles.tsx
Labels: 🌈 frontend, 🎨 UI, ♻️ refactor

#782 형상관리를 위한 jenkins 파일 추가
  jenkins/backend-dev.jenkinsfile
  jenkins/backend-prod.jenkinsfile
  jenkins/front-dev.jenkinsfile
  jenkins/front-prod.jenkinsfile
Labels: 🔥 backend, ⚙️ chore

#728 데스크탑 모드의 글 작성 페이지에서 카테고리 선택의 위치를 조정한다
  frontend/src/components/@common/Card/Card.tsx
  frontend/src/components/hashTag/HashTag/HashTag.styles.tsx
  frontend/src/pages/WritingArticles/index.styles.tsx
  frontend/src/styles/cardStyle.ts
  frontend/src/types/card.ts
Labels: 🌈 frontend, 🎨 UI, ♻️ refactor

#731 마이페이지에서 내용을 보여주는 Item 컴포넌트에 반응형을 적용한다
  frontend/src/components/tempArticle/TemporaryArticleItem/TemporaryArticleItem.styles.tsx
  frontend/src/components/tempArticle/TemporaryArticleList/TemporaryArticleList.styles.tsx
  frontend/src/components/user/UserArticleItem/UserArticleItem.styles.tsx
  frontend/src/components/user/UserCommentItem/UserCommentItem.styles.tsx
  frontend/src/pages/MyPage/index.styles.tsx
Labels: 🐛 bug, 🌈 frontend, 🎨 UI

#730 해시태그페이지의 닫기, 열기 버튼의 UI를 수정한다
  frontend/src/components/hashTag/HashTag/HashTag.styles.tsx
  frontend/src/components/hashTag/HashTagSearchBox/HashTagSearchBox.styles.tsx
  frontend/src/components/hashTag/HashTagSearchBox/HashTagSearchBox.tsx
Labels: 🌈 frontend, 🎨 UI, ♻️ refactor

#724 공통 모달을 개발한다.
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/@common/MenuSlider/MenuSlider.tsx
  frontend/src/components/@common/SnackBar/SnackBar.tsx
  frontend/src/components/@helper/Modal/CreatePortal.tsx
  frontend/src/components/@helper/Modal/GlobalModal.tsx
  frontend/src/components/@helper/Modal/Modal.styles.tsx
  frontend/src/components/@layout/TabBar/TabBar.tsx
  frontend/src/components/comment/Comment/Comment.tsx
  frontend/src/components/comment/CommentContent/CommentContent.tsx
  frontend/src/components/comment/CommentInputModal/CommentInputModal.tsx
  frontend/src/hooks/comment/usePostCommentInputModal.tsx
  frontend/src/hooks/comment/usePutCommentInputModal.tsx
  frontend/src/hooks/common/useModal.tsx
  frontend/src/index.tsx
  frontend/src/store/menuSliderState.ts
  frontend/src/store/modalState.ts
  frontend/src/types/innerType.ts
  frontend/src/utils/validateInput.ts
Labels: 🌈 frontend, ♻️ refactor

#780 상세페이지가 스크린 리더기에서 올바르게 읽히도록 웹 접근성을 높인다
  frontend/src/components/@layout/Header/Header.tsx
  frontend/src/components/@layout/TabBar/TabBar.tsx
  frontend/src/components/article/ArticleContent/ArticleContent.styles.tsx
  frontend/src/components/article/ArticleContent/ArticleContent.tsx
  frontend/src/components/comment/Comment/Comment.tsx
  frontend/src/components/comment/CommentContent/CommentContent.tsx
  frontend/src/components/search/SearchBar/SearchBar.tsx
  frontend/src/components/user/UserProfileIcon/UserProfileIcon.tsx
  frontend/src/pages/Detail/index.tsx
Labels: 🌈 frontend, 💫 feat

#788 댓글의 임시저장 기능을 구현한다
  frontend/src/components/comment/CommentContent/CommentContent.tsx
  frontend/src/components/comment/CommentInputModal/CommentInputModal.tsx
  frontend/src/hooks/article/useDetailArticleState.tsx
  frontend/src/hooks/comment/useDetailCommentState.tsx
  frontend/src/hooks/comment/useHandleCommentInputModalState.tsx
  frontend/src/pages/UpdateWriting/index.tsx
  frontend/src/pages/WritingArticles/index.tsx
  frontend/src/utils/takeToastImgEditor.ts
Labels: 🌈 frontend, 💫 feat

#762 이벤트 핸들러에 대한 컨벤션을 맞춰 수정한다.
  frontend/src/App.tsx
  frontend/src/__test__/article/useHeartClick.test.tsx
  frontend/src/components/@common/AnonymousCheckBox/AnonymousCheckBox.tsx
  frontend/src/components/@common/Dropdown/Dropdown.tsx
  frontend/src/components/@common/SortDropdown/SortDropDown.tsx
  frontend/src/components/@layout/TabBar/TabBar.tsx
  frontend/src/components/article/ArticleContent/ArticleContent.tsx
  frontend/src/components/article/ArticleItem/ArticleItem.tsx
  frontend/src/components/article/PopularArticle/PopularArticle.tsx
  frontend/src/components/article/PopularArticleItem/PopularArticleItem.tsx
  frontend/src/components/comment/Comment/Comment.tsx
  frontend/src/components/comment/CommentInputModal/CommentInputModal.tsx
  frontend/src/components/hashTag/HashTag/HashTag.tsx
  frontend/src/components/hashTag/HashTagSearchBox/HashTagSearchBox.tsx
  frontend/src/components/hashTag/HashTagSearchResult/HashTagSearchResult.tsx
  frontend/src/components/search/SearchBar/SearchBar.tsx
  frontend/src/components/search/SearchResult/SearchResult.tsx
  frontend/src/components/tempArticle/TemporaryArticleList/TemporaryArticleList.tsx
  frontend/src/components/user/MyCategoryTab/MyCategoryTab.tsx
  frontend/src/components/user/UserArticleItem/UserArticleItem.tsx
  frontend/src/components/user/UserCommentItem/UserCommentItem.tsx
  frontend/src/components/user/UserProfile/UserProfile.tsx
  frontend/src/components/user/UserProfileIcon/UserProfileIcon.tsx
  frontend/src/components/vote/VoteItem/VoteItem.tsx
  frontend/src/constants/url.ts
  frontend/src/hooks/article/useGetPopularArticles.tsx
  frontend/src/hooks/article/useHeartClick.tsx
  frontend/src/hooks/article/usePostUpdateWritingArticle.tsx
  frontend/src/hooks/comment/useDeleteComment.tsx
  frontend/src/hooks/comment/useDetailCommentState.tsx
  frontend/src/hooks/comment/useHandleCommentInputModalState.tsx
  frontend/src/hooks/login/useGetLoginURL.tsx
  frontend/src/hooks/user/usePutUserProfile.tsx
  frontend/src/hooks/vote/usePostVoteItem.tsx
  frontend/src/pages/CategoryArticles/CategoryArticles.tsx
  frontend/src/pages/DiscussionDetail/index.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/pages/Inquire/index.tsx
  frontend/src/pages/ServerErrorPage/index.tsx
  frontend/src/pages/UpdateWriting/index.tsx
  frontend/src/pages/VoteDeadlineGenerator/index.tsx
  frontend/src/pages/VoteGenerator/index.tsx
  frontend/src/pages/WritingArticles/index.tsx
Labels: 🌈 frontend, ♻️ refactor

#796 해시태그 검색이 되도록 한다
  frontend/src/components/@layout/Header/Header.styles.tsx
  frontend/src/components/hashTag/HashTagClickSearchBox/HashTagClickSearchBox.styles.tsx
  frontend/src/components/hashTag/HashTagClickSearchBox/HashTagClickSearchBox.tsx
  frontend/src/components/hashTag/HashTagSearchBox/HashTagSearchBox.styles.tsx
  frontend/src/components/hashTag/HashTagSearchBox/HashTagSearchBox.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/hashTag/useHandleHashTagState.tsx
  frontend/src/pages/HashTagSearch/index.styles.tsx
  frontend/src/pages/HashTagSearch/index.tsx
  frontend/src/storybook/HashTag/HashTagClickSearchBox.stories.tsx
Labels: 🌈 frontend, 💫 feat

#786 carousel ui를 변경한다. + 홈페이지의 접근성을 향상한다.
  frontend/src/components/@common/Card/Card.styles.tsx
  frontend/src/components/@common/Card/Card.tsx
  frontend/src/components/@common/Dropdown/Dropdown.tsx
  frontend/src/components/@common/ProgressiveBar/ProgressiveBar.styles.tsx
  frontend/src/components/@common/ProgressiveBar/ProgressiveBar.tsx
  frontend/src/components/@common/SortDropdown/SortDropDown.tsx
  frontend/src/components/@layout/Header/Header.tsx
  frontend/src/components/article/ArticleItem/ArticleItem.styles.tsx
  frontend/src/components/article/ArticleItem/ArticleItem.tsx
  frontend/src/components/article/PopularArticle/PopularArticle.styles.tsx
  frontend/src/components/article/PopularArticle/PopularArticle.tsx
  frontend/src/components/article/PopularArticleItem/PopularArticleItem.styles.tsx
  frontend/src/components/article/PopularArticleItem/PopularArticleItem.tsx
  frontend/src/components/hashTag/HashTagSearchBox/HashTagSearchBox.styles.tsx
  frontend/src/components/search/SearchBar/SearchBar.styles.tsx
  frontend/src/components/search/SearchBar/SearchBar.tsx
  frontend/src/components/tempArticle/TemporaryArticleItem/TemporaryArticleItem.styles.tsx
  frontend/src/components/user/UserArticleItem/UserArticleItem.styles.tsx
  frontend/src/components/user/UserCommentItem/UserCommentItem.styles.tsx
  frontend/src/components/user/UserProfileIcon/UserProfileIcon.styles.tsx
  frontend/src/components/user/UserProfileIcon/UserProfileIcon.tsx
  frontend/src/components/vote/VoteItem/VoteItem.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/article/useGetPopularArticles.tsx
  frontend/src/hooks/common/useCarousel.tsx
  frontend/src/hooks/common/useDebounce.tsx
  frontend/src/hooks/common/useEnterToClick.tsx
  frontend/src/hooks/common/usePageChange.tsx
  frontend/src/hooks/common/usePrevState.tsx
  frontend/src/pages/Home/index.styles.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/styles/Theme.ts
  frontend/src/styles/cardStyle.ts
  frontend/src/styles/mixin.ts
  frontend/src/styles/reset.tsx
  frontend/src/types/card.ts
Labels: 🌈 frontend, 💫 feat

#797 스토리북을 수정하고 배포한다.
  frontend/.gitignore
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/.storybook/public/mockServiceWorker.js
  frontend/.storybook/webpack.config.js
  frontend/package.json
  frontend/src/api/vote.ts
  frontend/src/components/@layout/TabBar/TabBar.styles.tsx
  frontend/src/components/vote/Vote/Vote.tsx
  frontend/src/components/vote/VoteItem/VoteItem.tsx
  frontend/src/constants/apiUrl.ts
  frontend/src/hooks/vote/usePostVoteItem.tsx
  frontend/src/mock/hashTag.ts
  frontend/src/mock/search.ts
  frontend/src/pages/Detail/index.tsx
  frontend/src/pages/VoteGenerator/index.styles.tsx
  frontend/src/storybook/Article/ArticleContent.stories.tsx
  frontend/src/storybook/Article/CategorySelector.stories.tsx
  frontend/src/storybook/Article/Comment.stories.tsx
  frontend/src/storybook/Article/PopularArticle.stories.tsx
  frontend/src/storybook/Article/ToastUiEditor.stories.tsx
  frontend/src/storybook/Common/Card.stories.tsx
  frontend/src/storybook/Common/NotFound.stories.tsx
  frontend/src/storybook/Common/SnackBar.stories.tsx
  frontend/src/storybook/Common/SortDropdown.stories.tsx
  frontend/src/storybook/HashTag/HashTagClickSearchBox.stories.tsx
  frontend/src/storybook/HashTag/HashTagSearchResult.stories.tsx
  frontend/src/storybook/Layout/Header.stories.tsx
  frontend/src/storybook/Layout/MenuSlider.stories.tsx
  frontend/src/storybook/Layout/TabBar.stories.tsx
  frontend/src/storybook/Pages/CategoryArticles.stories.tsx
  frontend/src/storybook/Pages/Detail.stories.tsx
  frontend/src/storybook/Pages/Home.stories.tsx
  frontend/src/storybook/Pages/SearchResult.stories.tsx
  frontend/src/storybook/Pages/ServerErrorHandlingPage.stories.tsx
  frontend/src/storybook/Pages/WritingArticles.stories.tsx
  frontend/src/storybook/User/UserArticleItem.stories.tsx
  frontend/src/storybook/User/UserCommentItem.stories.tsx
  frontend/src/storybook/Vote/Vote.stories.tsx
  frontend/src/storybook/Vote/VoteDeadlineGenerator.stories.tsx
  frontend/src/storybook/Vote/VoteGenerator.stories.tsx
  frontend/src/utils/converter.ts
  frontend/webpack/.env.development
  frontend/webpack/.env.production
  frontend/yarn.lock
  public/mockServiceWorker.js
Labels: 🌈 frontend, ⚙️ chore, 💫 feat

#807 votedItemId를 voteItemId로 수정한다.
  frontend/src/api/vote.ts
  frontend/src/components/vote/Vote/Vote.tsx
  frontend/src/components/vote/VoteItem/VoteItem.tsx
  frontend/src/hooks/vote/usePostVoteItem.tsx
  frontend/src/mock/vote.ts
Labels: 🌈 frontend, 💫 feat

#801 image converter 요청 보내는 url을 변경한다.
  frontend/src/api/image.ts
  frontend/src/constants/apiUrl.ts
  frontend/webpack/.env.development
  frontend/webpack/.env.production
Labels: 🌈 frontend, 💫 feat

#812 image 파일 형식을 변경한다.
  frontend/src/utils/takeToastImgEditor.ts
Labels: 🌈 frontend, 💫 feat

#814 이미지 변환 api에 대한 명세 변경
  frontend/src/utils/takeToastImgEditor.ts
Labels: 🌈 frontend, 💫 feat

#816 imageUrl을 url로 변경한다.
  frontend/src/api/image.ts
  frontend/src/utils/takeToastImgEditor.ts
Labels: 🐛 bug, 🌈 frontend

#803 질문, 토론 게시판이 선택될때 그 상태가 유지되도록 한다.
  frontend/src/components/hashTag/HashTagSearchBox/HashTagSearchBox.styles.tsx
  frontend/src/hooks/article/useGetAllArticles.tsx
  frontend/src/store/categoryState.ts
Labels: 🌈 frontend, 💫 feat

#809 투표 요청에는 voteItemId, 응답에는 votedItemId로 수정
  frontend/src/api/vote.ts
  frontend/src/components/vote/Vote/Vote.tsx
  frontend/src/components/vote/VoteItem/VoteItem.tsx
  frontend/src/mock/vote.ts
Labels: 🐛 bug, 🌈 frontend

#822 voteItems LinkedHashSet으로 순서 보장하도록 수정
  backend/src/main/java/com/woowacourse/gongseek/vote/domain/VoteItems.java
Labels: 🔥 backend, ♻️ refactor

#823 검색에서 엔터가 되지 않는 문제를 해결한다.
  frontend/src/components/@layout/Header/Header.styles.tsx
  frontend/src/components/@layout/Header/Header.tsx
  frontend/src/components/article/ArticleItem/ArticleItem.styles.tsx
  frontend/src/components/article/PopularArticleItem/PopularArticleItem.styles.tsx
  frontend/src/components/search/SearchBar/SearchBar.tsx
Labels: 🐛 bug, 🌈 frontend

#828 투표가 없는 토론게시글이 삭제할 수 있도록 수정
  backend/src/main/java/com/woowacourse/gongseek/article/application/ArticleService.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/TempArticleServiceTest.java
Labels: 🐛 bug, 🔥 backend

#830 투표 만료처리가 없는것을 해결한다.
  frontend/src/api/vote.ts
  frontend/src/components/vote/Vote/Vote.tsx
  frontend/src/components/vote/VoteItem/VoteItem.styles.tsx
  frontend/src/components/vote/VoteItem/VoteItem.tsx
  frontend/src/mock/vote.ts
Labels: 🐛 bug, 🌈 frontend

#832 모바일에서 로그아웃 안되던 문제 해결
  frontend/src/components/@common/MenuSlider/MenuSlider.tsx
Labels: 🐛 bug, 🌈 frontend

#829 회원이름 길이 제한 255자로 설정
  backend/src/main/java/com/woowacourse/gongseek/article/presentation/dto/ArticleRequest.java
  backend/src/main/java/com/woowacourse/gongseek/common/exception/ExceptionType.java
  backend/src/main/java/com/woowacourse/gongseek/member/domain/Name.java
  backend/src/main/java/com/woowacourse/gongseek/member/exception/NameTooLongException.java
  backend/src/test/java/com/woowacourse/gongseek/vote/domain/repository/VoteHistoryRepositoryTest.java
Labels: 🐛 bug, 🔥 backend

#834 댓글 창을 열고 뒤로가기를 했을 때에, portal창이 닫히도록한다
  frontend/src/components/@helper/Modal/GlobalModal.tsx
Labels: 🐛 bug, 🌈 frontend

#835 게시물을 처음들어갈시 항상 스크롤이 가장위로 가게 만든다.
  frontend/src/hooks/common/useScrollToTop.tsx
  frontend/src/pages/Detail/index.tsx
Labels: 🌈 frontend, 💫 feat

#850 찾을 수 없는 페이지에서 홈으로 이동 누를시 이동이 되지 않는다.
  frontend/src/pages/NotFound/index.styles.tsx
  frontend/src/pages/NotFound/index.tsx
Labels: 🐛 bug, 🌈 frontend

#852 글씨가 ... 으로 나오지 않고 잘리는 문제를 해결한다.
  frontend/src/components/article/PopularArticleItem/PopularArticleItem.styles.tsx
  frontend/src/styles/mixin.ts
Labels: 🐛 bug, 🌈 frontend

#856 react-icons들을 button태그로 감싼다
  frontend/src/components/@layout/TabBar/TabBar.styles.tsx
  frontend/src/components/@layout/TabBar/TabBar.tsx
  frontend/src/components/article/ArticleContent/ArticleContent.styles.tsx
  frontend/src/components/article/ArticleContent/ArticleContent.tsx
  frontend/src/components/article/ArticleItem/ArticleItem.styles.tsx
  frontend/src/components/article/ArticleItem/ArticleItem.tsx
  frontend/src/components/tempArticle/TemporaryArticleList/TemporaryArticleList.styles.tsx
  frontend/src/components/tempArticle/TemporaryArticleList/TemporaryArticleList.tsx
Labels: 🐛 bug, 🌈 frontend

#860 질문 게시판, 토론 게시판을 들어갈시 드롭다운이 아래로 내려가는 문제를 해결한다.
  frontend/src/pages/CategoryArticles/CategoryArticles.styles.tsx
Labels: 🐛 bug, 🌈 frontend

#861 파일 형식 제한을 변경한다
  backend/src/main/java/com/woowacourse/gongseek/common/exception/ExceptionType.java
  backend/src/main/java/com/woowacourse/gongseek/image/application/ImageService.java
  backend/src/main/java/com/woowacourse/gongseek/image/domain/FileExtension.java
  backend/src/main/java/com/woowacourse/gongseek/image/exception/InvalidFileFormatException.java
  backend/src/main/java/com/woowacourse/gongseek/image/exception/UnsupportedContentTypeException.java
  backend/src/main/java/com/woowacourse/gongseek/image/infra/FileNameGenerator.java
Labels: 🔥 backend, ♻️ refactor

#858 이미지 파일에 대한 형식이 잘못될 시 예외를 처리한다.
  frontend/src/api/image.ts
  frontend/src/constants/ErrorMessage.ts
  frontend/src/hooks/comment/useHandleCommentInputModalState.tsx
  frontend/src/hooks/common/useThrowCustomError.tsx
  frontend/src/hooks/common/useToastImageConverter.tsx
  frontend/src/pages/UpdateWriting/index.tsx
  frontend/src/pages/WritingArticles/index.tsx
  frontend/src/utils/takeToastImgEditor.ts
Labels: 🐛 bug, 🌈 frontend

#863 api 명세 변경에 따른 에러 코드 수정
  frontend/src/constants/ErrorMessage.ts
  frontend/src/hooks/common/useToastImageConverter.tsx
Labels: 🐛 bug, 🌈 frontend

#864 main에서 Hotfix를 한 것을 develop에 반영한다
  frontend/src/api/image.ts
  frontend/src/components/@helper/errorBoundary/LogicErrorBoundary.tsx
  frontend/src/components/@layout/TabBar/TabBar.styles.tsx
  frontend/src/components/@layout/TabBar/TabBar.tsx
  frontend/src/components/article/ArticleContent/ArticleContent.styles.tsx
  frontend/src/components/article/ArticleContent/ArticleContent.tsx
  frontend/src/components/article/ArticleItem/ArticleItem.styles.tsx
  frontend/src/components/article/ArticleItem/ArticleItem.tsx
  frontend/src/components/article/PopularArticle/PopularArticle.styles.tsx
  frontend/src/components/article/PopularArticleItem/PopularArticleItem.styles.tsx
  frontend/src/components/tempArticle/TemporaryArticleItem/TemporaryArticleItem.styles.tsx
  frontend/src/components/tempArticle/TemporaryArticleList/TemporaryArticleList.styles.tsx
  frontend/src/components/tempArticle/TemporaryArticleList/TemporaryArticleList.tsx
  frontend/src/components/user/UserArticleItem/UserArticleItem.styles.tsx
  frontend/src/components/user/UserCommentItem/UserCommentItem.styles.tsx
  frontend/src/components/user/UserCommentItem/UserCommentItem.tsx
  frontend/src/components/user/UserProfile/UserProfile.styles.tsx
  frontend/src/constants/ErrorMessage.ts
  frontend/src/hooks/comment/useHandleCommentInputModalState.tsx
  frontend/src/hooks/common/useThrowCustomError.tsx
  frontend/src/hooks/common/useToastImageConverter.tsx
  frontend/src/pages/CategoryArticles/CategoryArticles.styles.tsx
  frontend/src/pages/NotFound/index.styles.tsx
  frontend/src/pages/NotFound/index.tsx
  frontend/src/pages/UpdateWriting/index.tsx
  frontend/src/pages/WritingArticles/index.tsx
  frontend/src/styles/mixin.ts
  frontend/src/utils/takeToastImgEditor.ts
Labels: 🌈 frontend, 🔥 backend

#872 afterEachMethodCallback을 사용해서 매번 테스트마다 작성했던 로직의 중복을 제거
  backend/src/main/java/com/woowacourse/gongseek/config/SchedulerConfig.java
  backend/src/test/java/com/woowacourse/gongseek/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/ArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/application/TempArticleServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/article/domain/repository/ArticleTagRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongseek/auth/application/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/comment/application/CommentServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/like/application/LikeServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/member/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/support/AuthIntegrationTest.java
  backend/src/test/java/com/woowacourse/gongseek/support/IntegrationTest.java
  backend/src/test/java/com/woowacourse/gongseek/support/RollbackExtension.java
  backend/src/test/java/com/woowacourse/gongseek/tag/application/TagServiceTest.java
  backend/src/test/java/com/woowacourse/gongseek/vote/application/VoteServiceTest.java
Labels: 🔥 backend, ✅ test, ♻️ refactor

#879 이미지 리사이징이 되지 않는 문제 해결
  frontend/src/utils/converter.ts
Labels: 🐛 bug, 🌈 frontend

#882 Home이 로드 될 때에 바로 사용되지 않는 컴포넌트에 대해서 동적 import를 진행한다
  frontend/package.json
  frontend/src/components/article/PopularArticle/PopularArticle.tsx
  frontend/src/components/comment/CommentContent/CommentContent.tsx
  frontend/src/components/search/SearchResult/SearchResult.tsx
  frontend/src/components/tempArticle/TemporaryArticleList/TemporaryArticleList.tsx
  frontend/src/components/user/UserArticleBox/UserArticleBox.tsx
  frontend/src/components/user/UserCommentBox/UserCommentBox.tsx
  frontend/src/pages/CategoryArticles/CategoryArticles.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/pages/UpdateWriting/index.tsx
Labels: 🐛 bug, 🌈 frontend

#876 Prod 파이프라인에서 불필요한 퍼포먼스 서버로의 배포 제거
  jenkins/backend-prod.jenkinsfile
Labels: 🔥 backend, 🗃 infra

#887 github actions gradle caching 하도록 수정
  .github/workflows/backend.yml
  .github/workflows/sonarqube.yml
Labels: 🔥 backend, ⚙️ chore
